<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>MySafetyNet</title>
      <!-- Enable Zoom on Mobile Device -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta property="og:image" content="#" />
      <!-- Favicon CSS -->
      <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
      <!-- Fonts CSS -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
      <!-- Style CSS -->
      <link href="assets/css/owl.carousel.min.css" media="all" rel="stylesheet" type="text/css" />
      <link href="assets/css/owl.theme.default.css" media="all" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="assets/css/style.css">
      <link rel="stylesheet" href="assets/css/custom.css">
      <link rel="stylesheet" href="assets/css/style_home.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

   </head>
   <body>

      <div class="main-wrapper home-13 layout-strong" id="globle_container">

         <header class="navigation navigation__transparent navigation__caps navigation__separate navigation__right navigation__btn-fill "
            [class.inner-navigation]="!isHomePage">
            <div class="container-full">
               <div class="row">
                  <div class="col-12">
                     <!-- Non login user only  -->
                     <div class="navigation-content" >
                        <a href="javascript:void(0)" (click)="gotoRoute('/',false)" class="navigation__brand">
                        <img class="navigation-main__logo" src="assets/img/logo.png" alt="">
                        <img class="sticky-nav__logo" src="assets/img/logo.png" alt="sticky logo">
                        </a>
                        <button class="navigation__toggler"></button>
                        <!-- offcanvas toggle button -->
                        <nav class="navigation-wrapper">
                           <button class="offcanvas__close">✕</button>
                           <!-- offcanvas close button -->
                           <ul class="navigation-menu" id="nav">
                              <li class="navigation-menu__item">
                                 <a class="navigation-menu__link" (click)="gotoRoute('features',false)" href="javascript:void(0)">Features</a>
                              </li>
                              <li class="navigation-menu__item">
                                 <a class="navigation-menu__link" (click)="gotoRoute('pricing',false)" href="javascript:void(0)">Pricing</a>
                              </li>
                              <li class="navigation-menu__item">
                                 <a class="navigation-menu__link" (click)="gotoRoute('referral-program',false)" href="javascript:void(0)">Referral Program</a>
                              </li>
                              <li class="navigation-menu__item">
                                 <a class="navigation-menu__link" data-toggle="modal" data-target="#resources-modal" href="#">Resources</a>
                              </li>
                              <li class="navigation-menu__item">
                                 <a class="navigation-menu__link" (click)="gotoRoute('blogs',false)" href="javascript:void(0)">Blog</a>
                              </li>
                              <li class="navigation-menu__item">
                                 <a href="javascript:void(0)" class="navigation-menu__link" (click)="gotoRoute('about',false)">About</a>
                              </li>
                              <li class="navigation-menu__item">
                                 <a href="javascript:void(0)" class="navigation-menu__link" (click)="gotoRoute('contact',false)">Contact Us</a>
                              </li>
                           </ul>
                        </nav>
                        <!-- nav item end -->
                        <div class="navigation-button navigation-button-couple">
                           <a href="javascript:void(0)" (click)="gotoRoute('parent-signin',false)" class="nav-cta-btn more-space navigation-button-couple__trans">Login</a>
                           <a href="javascript:void(0)" (click)="gotoRoute('parent-signup',false)" class="db-btn nav-cta-btn navigation-button-couple__fill">Sign up</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row end -->
            </div>
         </header>
         <!-- =========== Navigation End ============ -->
         <section class="hero-thirteen hero-text-light content-left" >
            <div class="overlay"></div>
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="hero">
                        <div class="hero-wrapper hero-wrapper01">
                           <div class="hero-content hero-content02">
                              <h1 class="hero__title hero__title02">Ranked the Internet’s #1 Real-time Tool for Teen
                                 and Child Safety Online.</h1>
                              <p class="hero__caption"> Let us take you from the ERA of algorithms and information, to the ERA of identification and validation </p>
                              <div class="video-main-div clearfix header-video"> 
                                 <iframe src="https://www.youtube.com/embed/bIs8IlU227o?rel=0" frameborder="0" class="header-video-iframe">
                                 </iframe>
                              </div>
                              <a  href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary"  >
                              Start Your 60 Dasy Free Trial
                              <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <span class="hero__wave">
            <img class="svg hero__wave--svg" src="assets/layout/hero-wave-13.svg" alt="hero-wave">
            </span>
         </section>
         <!-- =========== Hero End ============ -->

         <!-- =========== Testimonials ============ -->
         <section class="testimonials_section">
            <div class="testimonials_div">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <div class="section-title">
                           <h2>Testimonials</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et viverra ex.</p>
                        </div>
                        <div class="owl-carousel owl-theme testimonials_owl_slider" id="testimonials_team_slider">
                           
                           <div class="item">
                              <div class="team_card_div clearfix">
                                 <div class="team_img_thumb">
                                    <img src="assets/img/Team_Sheryl_Root.jpg" alt="Don Cox" class="img-team-user">
                                 </div>
                                 <div class="team_heading_div">
                                    <h4>Sheryl Root</h4>
                                    <p class="position_txt">Professor, and Director of the Masters program in Technology Ventures at Carnegie-Mellon University, Silicon Valley</p>
                                    <p>Professor and Director of the master’s program in Technology Ventures at Carnegie-Mellon University Silicon Valley. A Hall-of-Fame inductee into Women in Technology International (WITI), and formerly a senior Director of Technology for Hewlett-Packard and SVP of Technology for Bank of America, Sheryl sits on several boards including Stanford’s Sloan School of Business, WITI, and several startups. She holds a Sloan MBA from Stanford University.</p>
                                 </div>
                                 <div class="team_quote_div clearfix">
                                    <div class="quote_left_div quote_div">
                                       <span class="icons-quote icon-quote-left"></span>
                                       <!-- <img src="img/quote-left.svg" alt="quote" class="quote_img quote_img_left"> -->
                                    </div>
                                    <div class="quote_right_div quote_div">
                                       <span class="icons-quote icon-quote-right"></span>
                                       <!-- <img src="img/quote-right.svg" alt="quote" class="quote_img quote_img_right"> -->
                                    </div>
                                    <div class="team_quote_desc">
                                       <div class="desc_txt_div">
                                          <p>The emerging Internet of Identities is a natural outgrowth of the Internet of Things that will have over 21 billion people and devices connected by 2020. In this new world characterized by AI-assisted technologies allowing virtually anyone to create fake videos and computer-generated online personas, it is now critical that children and teens have a way to validate the true identity of the people with whom they interact online.</p>
                                          <div id="text_hide_show" class="hide_txt">
                                             <p> MySafetyNet is the only proof-of-identity system that I know of that will protect minors from masquerading predators on the web. Concerned parents owe it to themselves and to their children to register all minor members of the household on MySafetyNet, so they can be confident they are protected without having to spy on their online behavior.</p>
                                          </div>
                                          <div class="btn-container-div"><button id="toggle-read" class="readmore_btn">Read More</button></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           
                           <div class="item">
                              <div class="team_card_div clearfix">
                                 <div class="team_img_thumb">
                                    <img src="img/Team_Don_Cox.png" alt="Don Cox" class="img-team-user">
                                 </div>
                                 <div class="team_heading_div">
                                    <h4>Don Cox</h4>
                                    <p class="position_txt">Chief Information Security Officer </p>
                                    <p>for MEDNAX Healthcare, formerly Deputy Director of the Office of the President, U.S. Homeland Security and a Fraud and Computer Crimes Detective for the Electronic Crimes Task Force within the U.S. Secret Service.</p>
                                 </div>
                                 <div class="team_quote_div clearfix">
                                    <div class="quote_left_div quote_div">
                                       <span class="icons-quote icon-quote-left"></span>
                                       <!-- <img src="img/quote-left.svg" alt="quote" class="quote_img quote_img_left"> -->
                                    </div>
                                    <div class="quote_right_div quote_div">
                                       <span class="icons-quote icon-quote-right"></span>
                                       <!-- <img src="img/quote-right.svg" alt="quote" class="quote_img quote_img_right"> -->
                                    </div>
                                    <div class="team_quote_desc">
                                       <p>MySafetyNet is a must-have proof of identity solution for every parent concerned about their children’s’ safety when surfing the web. Their medallion identity proof system is a major step forward toward preventing predatory abduction by strangers masquerading as ‘friends’ on the Internet. Proof of identity in the age of artificial intelligence will become essential for every form of electronic interaction in the future.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item">
                              <div class="team_card_div clearfix">
                                 <div class="team_img_thumb">
                                    <img src="img/Team_Kim_Green.png" alt="Kim Green" class="img-team-user">
                                 </div>
                                 <div class="team_heading_div">
                                    <h4>Kim Green</h4>
                                    <p class="position_txt">Director of Information Security</p>
                                    <p>Guardant Health, formerly global security and privacy chief for Zephyr Health and Bosch Healthcare and an International advisor on computer security and privacy providing guidance to organizations like the European Commission in Brussels for the COCIR European Trade Association on the General Data Protection Regulation compliance resolutions.</p>
                                 </div>
                                 <div class="team_quote_div clearfix">
                                    <div class="quote_left_div quote_div">
                                       <span class="icons-quote icon-quote-left"></span>
                                       <!-- <img src="img/quote-left.svg" alt="quote" class="quote_img quote_img_left"> -->
                                    </div>
                                    <div class="quote_right_div quote_div">
                                       <span class="icons-quote icon-quote-right"></span>
                                       <!-- <img src="img/quote-right.svg" alt="quote" class="quote_img quote_img_right"> -->
                                    </div>
                                    <div class="team_quote_desc">
                                       <p>The Internet in 2019 is a dangerous place for children. With advances in artificial intelligence and CGI, it is almost impossible to tell if the person you’re interacting with is real or someone masquerading as a ‘friend’. MySafetyNet has created a simple yet ingenious badging system that validates your children’s interaction with real friends on the Internet. I urge every concerned parent to become a member and get your children an identity badge. It is always better to be safe than sorry.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item">
                              <div class="team_card_div clearfix">
                                 <div class="team_img_thumb">
                                    <img src="img/Team_Jeff_Spivey.png" alt="Jeff Spivey" class="img-team-user">
                                 </div>
                                 <div class="team_heading_div">
                                    <h4>Jeff Spivey</h4>
                                    <p class="position_txt">CEO, Security Risk Management, Inc.</p>
                                    <p>Previous ISACA Int'l Board and Int'l President, ASIS International, Judicial Security Advisor, U.S. Marshals Service and Co-Founder of the Global Security Risk Management Alliance.</p>
                                 </div>
                                 <div class="team_quote_div clearfix">
                                    <div class="quote_left_div quote_div">
                                       <span class="icons-quote icon-quote-left"></span>
                                       <!-- <img src="img/quote-left.svg" alt="quote" class="quote_img quote_img_left"> -->
                                    </div>
                                    <div class="quote_right_div quote_div">
                                       <span class="icons-quote icon-quote-right"></span>
                                       <!-- <img src="img/quote-right.svg" alt="quote" class="quote_img quote_img_right"> -->
                                    </div>
                                    <div class="team_quote_desc">
                                       <p>Cybercrime is a big problem all over the world, and it is particularly frightening for children who are most at risk online. MySafetyNet is the only proof of identity system that I know of that uses validated credentials to protect children from online predators masquerading as peers. Algorithms and bots alone cannot provide pattern-matching proof at the level of identity data and verified photography. All parents owe it to themselves and theirchildren to join MySafetyNet and protect their families from bad actors on the Internet. Protect our children.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--  owl_slider -->
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- =========== End of Testimonials ============ -->

        <!--  Benefits section  --->
        <section class="benifite-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="benifite-div">
                            <div class="col-50 left-50 benifite-box01">
                                <div class="content-txt-div">
                                    <h3>Benefits for Teens and Children</h3>
                                    <div class="ul-list-div">
                                        <ul class="benifite-ul">
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Stops predators in their tracks.</span>
                                            </li>
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Ends fake profiles and catfish relationships.</span>
                                            </li>
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Allows teens to navigate the Internet without parents spying on them or becoming a part of their social media presence.</span>
                                            </li>
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Empowers minors to make healthy choices in their online interactions as agents of their own online safety.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-50 right-50 benifite-box01">
                                <div class="img-thumb-div">
                                    <img src="assets/img/benefits1.jpg" class="img-responsive img-benefits" alt="Teens and Children image" />
                                </div>
                            </div>
                        </div><!--  end of benifite1   -->

                        <div class="benifite-div benifite-div02">
                            <div class="col-50 left-50 benifite-box02">
                                <div class="img-thumb-div">
                                    <img src="assets/img/benefits2.jpg" class="img-responsive img-benefits" alt="Teens and Children image" />
                                </div>
                            </div>
                            <div class="col-50 right-50 benifite-box02">
                                <div class="content-txt-div">
                                    <h3>Benefits for Parents</h3>
                                    <div class="ul-list-div">
                                        <ul class="benifite-ul">
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Stops predators from having the ability to engage with your children.</span>
                                            </li>
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Prevents parents from feeling they need to watch their children’s every move through spying on their online activity.</span>
                                            </li>
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Gives parents real-time alerts to their children’s online interactions without revealing content.</span>
                                            </li>
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Allows parents to openly engage with their children about any inappropriate age and/or gender differences and to immediately generate a threat assessment. </span>
                                            </li>
                                            <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Assists parents in protecting their children which frees time management for everyday household needs.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> <!--  end of benifite1   -->

                    </div>
                </div>
            </div>            
        </section><!--  end of benifite-section  -->
        <!--  End of Benefits section  --->

        <!--  light-blue-box-section  -->
        <section class="light-blue-box-section">
            <div class="light-blue-box-div">

                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="full-div">
                                <div class="col-33">
                                    <div class="white-card-div">
                                        <div class="img-center-thumb"><img src="assets/img/interactions-icon01.svg" class="icon1" alt="icon" /></div>
                                        <div class="txt-center-content">
                                            <h5>Acceptable Interactions </h5>
                                            <p>Gender independent peer to peer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-33">
                                    <div class="white-card-div">
                                        <div class="img-center-thumb"><img src="assets/img/interactions-icon02.svg" class="icon1" alt="icon" /></div>
                                        <div class="txt-center-content">
                                            <h5>Inappropriate Interactions </h5>
                                            <p>Gender independent with major age difference </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-33">
                                    <div class="white-card-div">
                                        <div class="img-center-thumb"><img src="assets/img/interactions-icon03.svg" class="icon1" alt="icon" /></div>
                                        <div class="txt-center-content">
                                            <h5>Forbidden Interactions </h5>
                                            <p>Gender Independent but Adult to Minor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>    

            </div>
        </section>
        <!--  end of light-blue-box-section  -->

        <!-- =========== How it work ============ -->
        <section class="working-process how-it-work-section" id="working-process">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                        <div class="section-title">
                            <h2>How App works?</h2>
                            <p>In under ten minutes set up your whole family for ongoing real-time protection</p>
                        </div>
                        <div class="video-main-div how-it-work-video"> 
                            <div class="media-wrapper">
                                <video id="player1" class="video-tag01" controls preload="none" poster="assets/img/msn-explainer.jpg">
                                    <source type="video/mp4" src="assets/img/msn-explainer.mp4" data-quality="LD">
                                </video>
                            </div>
                        </div>
                  </div>
                  <!-- section title end -->
               </div>
            </div>
        </section>
        <!-- =========== How it work End ============ -->
        
        <!--  light-blue-box-section  -->
        <section class="dark-blue-box-section">
            <div class="dark-blue-box-div">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            
                            <div class="full-row-div">

                                <div class="quote_left_div02 quote_div02">
                                    <span class="icons-quote02 icon-quote-left02"></span>
                                </div>

                                <div class="quote_right_div02 quote_div02">
                                    <span class="icons-quote02 icon-quote-right02"></span>
                                </div>

                                <div class="quote_desc">
                                    <p>Over 1 Million Minors Using the MySafetyNet Tool as of May 2019!</p>
                                </div>

                            </div>
                           
                        </div>
                    </div>
                </div>    

            </div>
        </section>
        <!--  end of dark-blue-box-section  -->

         <!-- =========== pricing Start ============ -->
         <section class="pricing-two pricing-plan-page" id="pricing" [class.pricing-home]="!isPage">
            <span class="abstract-shape left abstract-shape-left01">
            <img class="svg" src="assets/img/diagonal-shape.svg" alt="shape">
            </span>
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="section-title">
                        <h2>Easy Pricing Plans</h2>
                        <p>Select from our affordable monthly and annual plans below to get started today!
                        </p>
                     </div>
                  </div>
                  <!-- section title end -->
               </div>
               <div class="plan_membership_div clearfix">
                  <div class="left_desc_div clearfix">
                     <p>Free 6-month Membership for a limited time only!
                        Pay only the registration fee of $10 and get a 6-month standard member FREE.
                        But you must act by June 30th.
                     </p>
                     <div class="plan_btn_row">
                        <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__blue db-btn__type-md btn_sign_up_plan">YES. Sign me up! </a>
                     </div>
                  </div>
                  <div class="right_desc_div clearfix">
                     <div class="thumb_div">
                        <img src="assets/img/website_plan.jpg" class="img_plan_member">
                     </div >
                  </div>
               </div>
               <div class="plan_center_div">
                  <div class="row justification_center">
                     <div class="col-12 col-lg-4 col-md-6" >
                        <div class="prcing-table free reveal" >
                           <div class="prcing-header">
                              <span class="prcing-table__plan-name">Family Plan</span>    
                              <p class="center_p" >
                                 <span class="span_block">48/Month</span>
                                 <span class="span_block">3/Year</span>
                              </p>
                           </div>
                           <ul class="plan-features">
                              <p class="center_p2"  >
                                 <span class="span_block">Real-Time Alerts </span>
                                 <span class="span_block">Multi-Child Discounts</span>
                              </p>
                           </ul>
                           <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__outline " [class.white-text]="item.type != 'free'">Get Started Now!
                           <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right " [class.white-text]="item.type != 'free'"></i>
                           </a>
                        </div>
                     </div>
                     <div class="col-12 col-lg-4 col-md-6" >
                        <div class="prcing-table free reveal" >
                           <div class="prcing-header">
                              <span class="prcing-table__plan-name">Standard</span>    
                              <p class="center_p" >
                                 <span class="span_block">60/Month</span>
                                 <span class="span_block">5/Year</span>
                              </p>
                           </div>
                           <ul class="plan-features">
                              <p class="center_p2" >
                                 <span class="span_block">Real-Time Alerts </span>
                                 <span class="span_block">Cancel Anytime</span>
                              </p>
                           </ul>
                           <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__outline " [class.white-text]="item.type != 'free'">Get Started Now!
                           <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right " [class.white-text]="item.type != 'free'"></i>
                           </a>
                        </div>
                     </div>
                     <div class="col-12 col-md-12">
                        <div class="plan_center_div">
                           <p class="txt-center">*a one time processing charge of <sapn class="blue-span">$10</sapn> applies to each child registration</p>
                           <p class="p-block-div">Allow our proven system to help you start protecting your child today by enrolling in any payment plan that fits your budge
                                <span class="bold-666">Easy payment plan (use existing payment plans)</span></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <span class="abstract-shape right abstract-shape-right01">
            <img class="svg" src="assets/img/diagonal-shape.svg" alt="shape">
            </span>
         </section>
         <!-- =========== pricing End ============ -->       
      
       
         <!-- =========== footer-2 End ============ -->
         <footer class="footer-three">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="footer">
                        <div class="footer-nav-wrapper">
                           <nav class="footer-widget">
                              <h5>Download App</h5>
                              <ul>
                                 <li>
                                    <a href="https://itunes.apple.com/us/app/mysafetynet-app/id1447820715?ls=1&mt=8">
                                    <img src="assets/img/app-store.png" alt="">
                                    </a>
                                 </li>
                                 <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.mysafetynet">
                                    <img src="assets/img/google-store.png" alt="">
                                    </a>
                                 </li>
                              </ul>
                           </nav>
                           <nav class="footer-widget">
                              <h5>Our App</h5>
                              <ul>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('features',false)"> Features</a>
                                 </li>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('pricing',false)">Pricing</a>
                                 </li>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('blogs',false)">Blog</a>
                                 </li>
                              </ul>
                           </nav>
                           <!-- widget end -->
                           <nav class="footer-widget">
                              <h5>Support</h5>
                              <ul>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('support',false)">Support</a>
                                 </li>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('referral-program',false)">Referral Program</a>
                                 </li>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('anonymous-complaint',false)">Anonymous Complaint</a>
                                 </li>
                              </ul>
                           </nav>
                           <!-- widget end -->
                           <nav class="footer-widget">
                              <h5>Company</h5>
                              <ul>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('about',false)">About</a>
                                 </li>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('privacy',false)">Privacy Policy</a>
                                 </li>
                                 <li>
                                    <a href="javascript:void(0)" (click)="gotoRoute('terms-conditions',false)">Terms & Conditions</a>
                                 </li>
                              </ul>
                           </nav>
                           <!-- widget end -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-bottom">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <div class="footer-bottom-wrapper">
                           <div class="footer-copyright">
                              <span class="footer-copyright__text">&copy; 2018 Copyright, All Rights Reserved By MySafetyNet <span class="vline">|</span> <span class="compnay-span">Developed By: </span><a href="https://citrusbug.com/" target="_blank" class="dev-link">Citrusbug Technolabs</a> </span>
                           </div>
                           <nav class="footer-bottom-nav">
                              <ul class="footer-social">
                                 <li>
                                    <a href="https://www.facebook.com/mysafetynet.Info/" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="https://twitter.com/mysafetynetinfo" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                                 </li>
                              </ul>
                           </nav>
                           <!-- copyright content end -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>

      <!-- The Modal -->
      <div class="modal resources-modal fade" id="resources-modal">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
               
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               
               
               <div class="modal-body">

                  <div class="resources-body-left">
                     <section class="resource-section01 clearfix">

                        <div class="heading-div">
                           <h2>A parent’s guiede to internet safety</h2>
                        </div>

                        <div class="resource-div01">
                           <div class="col-65 left-65 benifite-box01">
                              <div class="content-txt-div">
                                    <p class="p-topbold">How can you manage your child’s activity on the iInternet without constant monitoring and spying?</p>
                                    <h3>In this free eBook, you’ll learn about:</h3>
                                    <div class="ul-list-div">
                                       <ul class="benifite-ul">
                                          <li>
                                                <span class="icon-span-round"></span><span class="txt-span">The technology challenges of parenting in the Internet age</span>
                                          </li>
                                          <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Social networking risks </span>
                                          </li>
                                          <li>
                                                <span class="icon-span-round"></span><span class="txt-span">Cyber-bullying and privacy rights</span>
                                          </li>
                                       </ul>
                                    </div>
                                    <div class="download-div">
                                       <a class="download-link">Download the free eBook today.</a>
                                    </div>
                              </div>
                           </div>
                           <div class="col-35 right-35 benifite-box01">
                              <div class="img-thumb-div">
                                    <img src="img/get-the-ebook.jpg" class="img-responsive img-benefits" alt="Teens and Children image" />
                              </div>
                           </div>
                        </div><!--  end of benifite1   -->
                  
                     </section>
                  </div>   

                  <div class="resources-body-right clearfix">
                     <section class="get-the-ebook-forms-section01 clearfix">
                        <div class="get-the-ebook-forms-div01 clearfix">

                           <div class="heading-div">
                              <h2>Get the eBook</h2>
                           </div>

                           <div class="full-forms-div">
                              <form>
                                    <div class="col-100">
                                       <div class="form-group">
                                          <label>First Name *</label>
                                          <input type="text" class="form-control" placeholder="Enter first name" />
                                       </div>
                                    </div>
                                    <div class="col-100">
                                       <div class="form-group">
                                          <label>Last Name *</label>
                                          <input type="text" class="form-control" placeholder="Enter last name" />
                                       </div>
                                    </div>
                                    <div class="col-100">
                                       <div class="form-group">
                                          <label>Email ID *</label>
                                          <input type="email" class="form-control" placeholder="Enter email ID" />
                                       </div>
                                    </div>
                                    <div class="col-100">
                                       <div class="plan_btn_row btn_download_row01">
                                          <a class="db-btn db-btn__blue db-btn__type-md btn_download">Download now</a>
                                       </div>
                                    </div>
                              </form>
                           </div>


                        </div>
                     </section>
                  </div>

               </div>
               
            </div>
         </div>
      </div><!--  Resources Modal  -->

      <!-- Main JS Files -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/popper.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script> 
      <script src="assets/js/index.js"></script> 
      <script src="assets/js/script.js"></script>
   </body>
</html>
