<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySafetyNet</title>
    <!-- Enable Zoom on Mobile Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:image" content="#" />

    <!-- Favicon CSS -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">    
    <!-- Style CSS -->

    <link href="assets/css/owl.carousel.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="assets/css/owl.theme.default.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style_home.css">
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body>
   
    <div class="main-wrapper home-13 layout-strong" id="globle_container">

    <header class="navigation navigation__transparent navigation__caps navigation__separate navigation__right navigation__btn-fill "
        [class.inner-navigation]="!isHomePage">
        <div class="container-full">
            <div class="row">
                <div class="col-12">

                    <!-- Non login user only  -->

                    <div class="navigation-content" >
                        <a href="javascript:void(0)" (click)="gotoRoute('/',false)" class="navigation__brand">
                            <img class="navigation-main__logo" src="assets/img/logo.png" alt="">
                            <img class="sticky-nav__logo" src="assets/img/logo.png" alt="sticky logo">
                        </a>
                        <button class="navigation__toggler"></button>
                        <!-- offcanvas toggle button -->
                        <nav class="navigation-wrapper">
                            <button class="offcanvas__close">✕</button>
                            <!-- offcanvas close button -->
                            <ul class="navigation-menu" id="nav">
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link" (click)="gotoRoute('features',false)" href="javascript:void(0)">Features</a>
                                </li>
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link" (click)="gotoRoute('pricing',false)" href="javascript:void(0)">Pricing</a>
                                </li>

                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link" (click)="gotoRoute('referral-program',false)" href="javascript:void(0)">Referral Program</a>
                                </li>
                                 <li class="navigation-menu__item">
                                    <a class="navigation-menu__link" (click)="gotoRoute('blogs',false)" href="javascript:void(0)">Blog</a>
                                    
                                   
                                </li>
                                <li class="navigation-menu__item">
                                        <a href="javascript:void(0)" class="navigation-menu__link" (click)="gotoRoute('about',false)">About</a>
                                </li>
                                <li class="navigation-menu__item">
                                        <a href="javascript:void(0)" class="navigation-menu__link" (click)="gotoRoute('contact',false)">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- nav item end -->
                        <div class="navigation-button navigation-button-couple">
                            <a href="javascript:void(0)" (click)="gotoRoute('parent-signin',false)" class="nav-cta-btn more-space navigation-button-couple__trans">Login</a>
                            <a href="javascript:void(0)" (click)="gotoRoute('parent-signup',false)" class="db-btn nav-cta-btn navigation-button-couple__fill">Sign up</a>
                        </div>

                    </div>

                </div>
            </div>
            <!-- row end -->
        </div>
    </header>
        <!-- =========== Navigation End ============ -->

        
        <section class="hero-thirteen hero-text-light content-left" >
   <div class="overlay"></div>
  <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="hero">
                      <div class="hero-wrapper hero-wrapper01">
                          <div class="hero-content">
                              <h1 class="hero__title">MySafetyNet Now Brings You The Future Of Online Child Protection</h1>
                              <p class="hero__caption"> Let us take you from the ERA of algorithms and information, to the ERA of identification and validation </p>
                            <div class="video-main-div clearfix header-video"> 
                                <iframe src="https://www.youtube.com/embed/bIs8IlU227o?rel=0" frameborder="0" class="header-video-iframe">
                                </iframe>
                            </div>

                           
                              <a  href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary"  >
                                  Start Your 60 Dasy Free Trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                             
                          </div>
                         

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <span class="hero__wave">
          <img class="svg hero__wave--svg" src="assets/layout/hero-wave-13.svg" alt="hero-wave">
      </span>
  </section>
  
  
  
        <!-- =========== Hero End ============ -->


        <section class="testimonials_section">
            <div class="testimonials_div">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="section-title">
                                <h2>Testimonials</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et viverra ex.</p>
                            </div>

                            <div class="owl-carousel owl-theme testimonials_owl_slider" id="testimonials_team_slider">
                            
                                <div class="item">
                                    <div class="team_card_div clearfix">
                                        <div class="team_img_thumb">
                                            <img src="img/Team_Don_Cox.png" alt="Don Cox" class="img-team-user">
                                        </div>
                                        <div class="team_heading_div">
                                            <h4>Don Cox</h4>
                                            <p class="position_txt">Chief Information Security Officer </p>
                                            <p>for MEDNAX Healthcare, formerly Deputy Director of the Office of the President, U.S. Homeland Security and a Fraud and Computer Crimes Detective for the Electronic Crimes Task Force within the U.S. Secret Service.</p>
                                        </div>
                                        <div class="team_quote_div clearfix">
                                            <div class="quote_left_div quote_div">
                                                <span class="icons-quote icon-quote-left"></span>
                                                <!-- <img src="img/quote-left.svg" alt="quote" class="quote_img quote_img_left"> -->
                                            </div>
                                            <div class="quote_right_div quote_div">
                                                <span class="icons-quote icon-quote-right"></span>
                                                <!-- <img src="img/quote-right.svg" alt="quote" class="quote_img quote_img_right"> -->
                                            </div>
                                            <div class="team_quote_desc"><p>MySafetyNet is a must-have proof of identity solution for every parent concerned about their children’s’ safety when surfing the web. Their medallion identity proof system is a major step forward toward preventing predatory abduction by strangers masquerading as ‘friends’ on the Internet. Proof of identity in the age of artificial intelligence will become essential for every form of electronic interaction in the future.</p></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="team_card_div clearfix">
                                        <div class="team_img_thumb">
                                            <img src="img/Team_Kim_Green.png" alt="Kim Green" class="img-team-user">
                                        </div>
                                        <div class="team_heading_div">
                                            <h4>Kim Green</h4>
                                            <p class="position_txt">Director of Information Security</p>
                                            <p>Guardant Health, formerly global security and privacy chief for Zephyr Health and Bosch Healthcare and an International advisor on computer security and privacy providing guidance to organizations like the European Commission in Brussels for the COCIR European Trade Association on the General Data Protection Regulation compliance resolutions.</p>
                                        </div>
                                        <div class="team_quote_div clearfix">
                                            <div class="quote_left_div quote_div">
                                                <span class="icons-quote icon-quote-left"></span>
                                                <!-- <img src="img/quote-left.svg" alt="quote" class="quote_img quote_img_left"> -->
                                            </div>
                                            <div class="quote_right_div quote_div">
                                                <span class="icons-quote icon-quote-right"></span>
                                                <!-- <img src="img/quote-right.svg" alt="quote" class="quote_img quote_img_right"> -->
                                            </div>
                                            <div class="team_quote_desc"><p>The Internet in 2019 is a dangerous place for children. With advances in artificial intelligence and CGI, it is almost impossible to tell if the person you’re interacting with is real or someone masquerading as a ‘friend’. MySafetyNet has created a simple yet ingenious badging system that validates your children’s interaction with real friends on the Internet. I urge every concerned parent to become a member and get your children an identity badge. It is always better to be safe than sorry.</p></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="team_card_div clearfix">
                                        <div class="team_img_thumb">
                                            <img src="img/Team_Jeff_Spivey.png" alt="Jeff Spivey" class="img-team-user">
                                        </div>
                                        <div class="team_heading_div">
                                            <h4>Jeff Spivey</h4>
                                            <p class="position_txt">CEO, Security Risk Management, Inc.</p>
                                            <p>Previous ISACA Int'l Board and Int'l President, ASIS International, Judicial Security Advisor, U.S. Marshals Service and Co-Founder of the Global Security Risk Management Alliance.</p>
                                        </div>
                                        <div class="team_quote_div clearfix">
                                            <div class="quote_left_div quote_div">
                                                <span class="icons-quote icon-quote-left"></span>
                                                <!-- <img src="img/quote-left.svg" alt="quote" class="quote_img quote_img_left"> -->
                                            </div>
                                            <div class="quote_right_div quote_div">
                                                <span class="icons-quote icon-quote-right"></span>
                                                <!-- <img src="img/quote-right.svg" alt="quote" class="quote_img quote_img_right"> -->
                                            </div>
                                            <div class="team_quote_desc"><p>Cybercrime is a big problem all over the world, and it is particularly frightening for children who are most at risk online. MySafetyNet is the only proof of identity system that I know of that uses validated credentials to protect children from online predators masquerading as peers. Algorithms and bots alone cannot provide pattern-matching proof at the level of identity data and verified photography. All parents owe it to themselves and theirchildren to join MySafetyNet and protect their families from bad actors on the Internet. Protect our children.</p></div>
                                        </div>
                                    </div>
                                </div>
                               
                            
                            </div><!--  owl_slider -->
                        </div>
                    </div>
                </div>            
            </div>
        </section>

        

        <!-- =========== How it work End ============ -->
        
<!-- =========== How it work End ============ -->
<section class="working-process" id="working-process">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>How The App Works</h2>
                  <p>You can set up protection for your family in under ten minutes!</p>
              </div>

              <div class="video-main-div clearfix how-work-video"> 
                <iframe src="https://www.youtube.com/embed/884p7sENcw8" class="how-work-video-iframe">
                </iframe>
            </div>
          </div>
          <!-- section title end -->
      </div>
      <!-- section title row end -->
      <div class="row">
          <div class="col-12">
              <div class="working-process-wrapper reveal">
                  <ul class="working-process-list">
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="assets/img/signup-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Protect4</h5>
                              <p class="working-process__description">Set up and link	your family	devices to your	account.4
                              </p>
                          </div>

                        
                      </li>
                      <!-- single item end -->
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                               <img src="assets/img/download-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Protect3</h5>
                              <p class="working-process__description">Set up and link	your family	devices to your	account.3
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="assets/img/add-devices.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Protect2</h5>
                              <p class="working-process__description">Set up and link	your family	devices to your	account.2
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                    <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="assets/img/protect-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Protect</h5>
                              <p class="working-process__description">Your family’s supported	devices are now	ready to be	protected from online threats.
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                  </ul>
              </div>
          </div>
      </div>
      <!-- content row end -->
  </div>
</section>
<!-- =========== How it work End ============ -->

            <!-- =========== How it work End ============ -->
       

        
<div class="switchable-div">
<div class="highlight-bg-color"></div>
  <!-- =========== switchable content End ============ -->
  <section class="switchable switchable-2">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="switchable-wrapper">
                      <div class="switchable-content">
                          <h2 class="switchable__title">
                              Backed By Research
                          </h2>
                          <p class="highlight_description">
                              According to Pamela Wisniewski, a well-known PhD in Computer Science and expert in Cybersecurity and adolescent online safety, “The fear that teens will fall victim to unthinkable dangers persists, and our research has found that protecting teens online by tightening the reins is counterproductive, and threatening usually doesn't work. Instead, our research shows that empowering teens to be agents of their own online safety is far more effective.”
                          </p>
                          <p class="switchable__description">
                              While providing dual-layered protection for your child, MySafetyNet strives to educate parents and children alike on responsible internet use. Traditional methods of online protection have proven to be inefficient, which is why the MySafetyNet system allows children to have online freedom while allowing parents to monitor who their child is interacting with.
                          </p>
                          <div class="switchable-cta-buttons">
                              <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary">
                                    Start Your 6 months Free Trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                             
                          </div>
                      </div>
                      <!-- content end -->
                      <div class="switchable-media reveal">
                          <picture class="switchable-media__img">
                              <img src="assets/img/phone-1.png" alt="">
                          </picture>
                          <!-- media end -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- row end -->
      </div>
  </section>
  <!-- =========== switchable content End ============ -->
  
  <!-- =========== switchable content start ============ -->
  <section class="switchable switchable-2 reverse">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="switchable-wrapper">
                      <div class="switchable-content">
                          <h2 class="switchable__title">Complete Protection</h2>
                          <p class="switchable__description">
                                In a world reliant on online learning and communication, parents can never be too cautious about their child’s online activities. Did you know that, according to the Crimes Against Children Research Center, 1 in every 5 U.S. teenagers who regularly use the internet receives unwanted sexual solicitation? These types of solicitations often request to engage in inappropriate activities.
                          </p>
                          <div class="switchable-cta-buttons">
                              <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary">
                                    Start Your 6 months Free Trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                          </div>
                      </div>
                      <!-- content end -->
                      <div class="switchable-media reveal">
                          <picture class="switchable-media__img">
                              <img src="assets/img/phone-2.png" alt="">
                          </picture>
                          <!-- media end -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- row end -->
      </div>
  </section>
  <!-- =========== switchable content End ============ -->
  </div>
  
  
  
  
 


         <!-- =========== Features-4 Start ============ -->
		 
		 <!-- =========== Features-4 Start ============ -->
<section class="features-four" id="feature" >
  <div class="container">
      <!-- section title row end -->
      <div class="row">
          <div class="col-12">
              <div class="feature-wrapper">
                  <ul class="feature">
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon monitor-icon"></i>
                          </span>
                          <div>
                          <h4 class="feature__title">Education4</h4>
                              <p class="feature__description">Encouraging open discussions between parents and children4</p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon rick-det-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">Education3</h4>
                              <p class="feature__description">Encouraging open discussions between parents and children3</p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon parentaler-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">Education2</h4>
                              <p class="feature__description">Encouraging open discussions between parents and children2
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon education-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">Education</h4>
                              <p class="feature__description">Encouraging open discussions between parents and children
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                  </ul>
                  <!-- feature content end -->
                  <div class="features-cta reveal">
                      <h2 class="features-cta__title">Simple, User-Friendly iOS And Android Apps</h2>
                      <p class="features-cta__description">Our dual-layered protection and validation system will help to protect your child from online predators throughout their online travels. Download the app today!</p>
                      <div class="features-cta-buttons">
                            <a href="https://itunes.apple.com/us/app/mysafetynet-app/id1447820715?ls=1&mt=8" class="social-blk-1">
                                    <img src="assets/img/app-store.png" alt="">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.mysafetynet"  class="social-blk-2">
                                        <img src="assets/img/google-store.png" alt="">
                                    </a>

                      </div>
                  </div>
                  <!-- media content end -->
              </div>
          </div>
      </div>
      <!-- row end -->
  </div>
</section>
<!-- =========== Features-4 End ============ -->



        <!-- =========== pricing Start ============ -->
<!-- =========== pricing Start ============ -->
<section class="pricing-two pricing-plan-page" id="pricing" [class.pricing-home]="!isPage">
    <span class="abstract-shape left abstract-shape-left01">
        <img class="svg" src="assets/img/diagonal-shape.svg" alt="shape">
    </span>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Easy Pricing Plans</h2>
                    <p>Select from our affordable monthly and annual plans below to get started today!
                    </p>
                </div>
            </div>
            <!-- section title end -->
        </div>

        

        <div class="plan_membership_div clearfix">
                    
            <div class="left_desc_div clearfix">
              
                <p>Free 6-month Membership for a limited time only!

Pay only the registration fee of $10 and get a 6-month standard member FREE.

But you must act by June 30th.</p>
                <div class="plan_btn_row">
                    <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__blue db-btn__type-md btn_sign_up_plan">YES. Sign me up! </a>
                </div>
            </div>

            <div class="right_desc_div clearfix">
                <div class="thumb_div">
                    <img src="assets/img/website_plan.jpg" class="img_plan_member">
                </div >
            </div>

        </div>
 
        <div class="plan_center_div">
            <div class="row justification_center">
            
                <div class="col-12 col-lg-4 col-md-6" >
                    <div class="prcing-table free reveal" >
                        <div class="prcing-header">
                            <span class="prcing-table__plan-name">Family Plan</span>    


                            <p class="center_p" >
                                <span class="span_block">48/Month</span>
                                <span class="span_block">3/Year</span>
                            </p>
                            
                            
                        </div>
                        <ul class="plan-features">
                            
                            <p class="center_p2"  >
                                <span class="span_block">Real-Time Alerts </span>
                                <span class="span_block">Multi-Child Discounts</span>
                            </p>
                        </ul>
                        <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__outline " [class.white-text]="item.type != 'free'">Get Started Now!
                            <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right " [class.white-text]="item.type != 'free'"></i>
                        </a>
                    </div>
                </div>

				
				<div class="col-12 col-lg-4 col-md-6" >
                    <div class="prcing-table free reveal" >
                        <div class="prcing-header">
                            <span class="prcing-table__plan-name">Standard</span>    


                            <p class="center_p" >
                                <span class="span_block">60/Month</span>
                                <span class="span_block">5/Year</span>
                            </p>
                            
                        </div>
                        <ul class="plan-features">
                            <p class="center_p2" >
                                <span class="span_block">Real-Time Alerts </span>
                                <span class="span_block">Cancel Anytime</span>
                            </p>
                            
                        </ul>
                        <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__outline " [class.white-text]="item.type != 'free'">Get Started Now!
                            <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right " [class.white-text]="item.type != 'free'"></i>
                        </a>
                    </div>
                </div>
               
            
            <div class="col-12 col-md-12">
                <div class="plan_center_div"><p class="txt-center">*a one time processing charge of $10 applies to each child registration</p></div>
            </div>
          </div>
        </div>    
    </div>

    <span class="abstract-shape right abstract-shape-right01">
        <img class="svg" src="assets/img/diagonal-shape.svg" alt="shape">
    </span>
</section>
<!-- =========== pricing End ============ -->       
	   <!-- =========== pricing End ============ -->




        <!-- =========== blog-1 start ============ -->
        <!-- =========== blog-1 start ============ -->
<div class="home-blog home-blog-one blog-main" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                        <h2>Latest News From Us</h2>
                        <p>Read latest technology news from our blog.
                    </p>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="blog-featured">
                    <article class="article">
                        <a class="article__thumbnail" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                            <img src="https://secure.mysafetynet.info/uploads/blog/Predator_Access_to_Kids_15591297125cee6e709c5f5.jpg" height="540" alt="JI">
                        </a>
                        <div class="article-content">
                            <div class="article__meta">


                                <span class="article__meta--published">MAY 29, 2019</span>
                            </div>
                            <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                Predator's Access to Kids
                            </a>

                            <p>Predators are hiding behind the anonymity of the Internet to target kids.</p>
                            <a href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)" class="db-btn-link">Continue reading
                                <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- blog featured end -->
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                
                        <div class="blog-list">
                                <article class="article">
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published">MAY 29, 2019</span>
                                        </div>
                                        <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                                Predator's Access to Kids
                                        </a>
                                    </div>
                                </article>
                            </div>
							<div class="blog-list">
                                <article class="article">
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published">MAY 30, 2019</span>
                                        </div>
                                        <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                                How to Protect Your Children on Social Media
                                        </a>
                                    </div>
                                </article>
                            </div>
							<div class="blog-list">
                                <article class="article">
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published">MAY 11, 2019</span>
                                        </div>
                                        <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                                Talking to Your Child About Social Media
                                        </a>
                                    </div>
                                </article>
                            </div>
							<div class="blog-list">
                                <article class="article">
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published">MAY 5, 2019</span>
                                        </div>
                                        <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                                Predator's Access t sdds sdso Kids
                                        </a>
                                    </div>
                                </article>
                            </div>
               
                
                <a href="javascript:void(0)" (click)="gotoRoute('blogs')" class="db-btn-link">More Blogs
                    <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- =========== blog-1 End ============ -->
		<!-- =========== blog-1 End ============ -->
		
		
        <!-- =========== cta-3 Start ============ -->
       
<!-- =========== cta-3 Start ============ -->
<section class="cta-three">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="cta reveal">
                  <div class="cta-wrapper">
                      <div class="cta-content">
                          <h3 class="cta__title">Start Your 2 month Free Trial!</h3>
                         
                      </div>
                      <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary_white">
                          Get Started Now!
                          <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                      </a>
                  </div>
                  <!-- content end -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- =========== cta-3 End ============ -->
        <!-- =========== cta-3 End ============ -->


        <!-- =========== footer-2 End ============ -->
      <footer class="footer-three">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer">
                        <div class="footer-nav-wrapper">
                            <nav class="footer-widget">
                                <h5>Download App</h5>
                                <ul>
                                    <li>
                                        <a href="https://itunes.apple.com/us/app/mysafetynet-app/id1447820715?ls=1&mt=8">
                                            <img src="assets/img/app-store.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://play.google.com/store/apps/details?id=com.mysafetynet">
                                            <img src="assets/img/google-store.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav class="footer-widget">
                                <h5>Our App</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('features',false)"> Features</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('pricing',false)">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('blogs',false)">Blog</a>
                                    </li>
                                </ul>
                            </nav>


                            <!-- widget end -->
                            <nav class="footer-widget">
                                <h5>Support</h5>
                                <ul>
                                   
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('support',false)">Support</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('referral-program',false)">Referral Program</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('anonymous-complaint',false)">Anonymous Complaint</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- widget end -->
                            <nav class="footer-widget">
                                <h5>Company</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('about',false)">About</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('privacy',false)">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('terms-conditions',false)">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- widget end -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-bottom-wrapper">
                            <div class="footer-copyright">
                                <span class="footer-copyright__text">&copy; 2018 Copyright, All Rights Reserved By MySafetyNet <span class="vline">|</span> <span class="compnay-span">Developed By: </span><a href="https://citrusbug.com/" target="_blank" class="dev-link">Citrusbug Technolabs</a> </span>
                            </div>
                            <nav class="footer-bottom-nav">
                                <ul class="footer-social">
                                    <li>
                                        <a href="https://www.facebook.com/mysafetynet.Info/" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/mysafetynetinfo" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                </ul>
                            </nav>

                            <!-- copyright content end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- Main JS Files -->

        
    <script src="assets/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="assets/js/popper.min.js" ></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script> 
    <script src="assets/js/index.js"></script> 
    <script src="assets/js/script.js"></script>
   

</body>
</html>