<!-- =========== pricing Start ============ -->
<section class="pricing-two pricing-plan-page" id="pricing" [class.pricing-home]="!isPage">
    <span class="abstract-shape left abstract-shape-left01">
        <img class="svg" src="assets/img/diagonal-shape.svg" alt="shape">
    </span>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>{{pricingplans.title}}</h2>
                    <p>{{pricingplans.description}}
                    </p>
                </div>
            </div>
            <!-- section title end -->
        </div>

        

        <div class="plan_membership_div clearfix">
                    
            <div class="left_desc_div clearfix">
                <p>Free {{addchild.free_package_limit}}-{{addchild.free_package_limit_unit}} Membership for a limited time only!</p>
                <p>Pay only the registration fee of ${{addchild.one_time_charge}} and get a {{addchild.free_package_limit}}-{{addchild.free_package_limit_unit}} standard member FREE.</p>
                <p>But you must act by {{addchild.free_package_till}}.</p>
                <div class="plan_btn_row">
                    <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__blue db-btn__type-md btn_sign_up_plan">YES. Sign me up! </a>
                </div>
            </div>

            <div class="right_desc_div clearfix">
                <div class="thumb_div">
                    <img src="assets/img/website_plan.jpg" class="img_plan_member">
                </div >
            </div>

        </div>
 
        <div class="plan_center_div">
            <div class="row justification_center">
            
                <div class="col-12 col-lg-4 col-md-6" *ngIf="item.type != 'free'">
                    <div class="prcing-table free reveal" >
                        <div class="prcing-header">
                            <span class="prcing-table__plan-name">{{item.title}}</span>    


                            <p class="center_p" *ngIf="item.type == 'monthly'">
                                <span class="span_block">${{item.actual_amount}}/Month</span>
                                <span class="span_block">${{item.actual_amount * 12}}/Year</span>
                            </p>
                            
                            
                        </div>
                        <ul class="plan-features">
                            
                            <p class="center_p2" *ngIf="item.features == 'family_plan'" >
                                <span class="span_block">Real-Time Alerts </span>
                                <span class="span_block">Multi-Child Discounts</span>
                            </p>
                        </ul>
                        <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__outline " [class.white-text]="item.type != 'free'">Get Started Now!
                            <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right " [class.white-text]="item.type != 'free'"></i>
                        </a>
                    </div>
                </div>

				
				<div class="col-12 col-lg-4 col-md-6" *ngIf="item.type != 'free'">
                    <div class="prcing-table free reveal" >
                        <div class="prcing-header">
                            <span class="prcing-table__plan-name">{{item.title}}</span>    


                            <p class="center_p" *ngIf="item.type == 'yearly'">
                                <span class="span_block">${{item.actual_amount / 12 }}/Month</span>
                                <span class="span_block">${{item.actual_amount}}/Year</span>
                            </p>
                            
                        </div>
                        <ul class="plan-features">
                            <p class="center_p2" *ngIf="item.features == 'standard'" >
                                <span class="span_block">Real-Time Alerts </span>
                                <span class="span_block">Cancel Anytime</span>
                            </p>
                            
                        </ul>
                        <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__outline " [class.white-text]="item.type != 'free'">Get Started Now!
                            <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right " [class.white-text]="item.type != 'free'"></i>
                        </a>
                    </div>
                </div>
               
            
            <div class="col-12 col-md-12">
                <div class="plan_center_div"><p class="txt-center">*a one time processing charge of <span class="pricing_highlight">${{addchild.one_time_charge}}</span> applies to each child registration</p></div>
            </div>
          </div>
        </div>    
    </div>

    <span class="abstract-shape right abstract-shape-right01">
        <img class="svg" src="assets/img/diagonal-shape.svg" alt="shape">
    </span>
</section>
<!-- =========== pricing End ============ -->