.article ul,ol{
	padding-left: 50px !important;
	list-style-type: decimal;
}

.article ol li
{
	color : #818992;
}


.form_loader {
    width: 20px;
    right: 31px;
    position: absolute;
    display: inline-block;
    margin: 6px 0 0 0px;
}

.form_loader_outer {
    width: 63px;
    right: 7px;
    position: absolute;
    display: inline-block;
    margin: 18px 0 0 0px;
    bottom: 0px;
}

.top-150px {
    top: 150px;
}

.ElementsApp,
.ElementsApp .InputElement {
    border: 1px solid #ddd !important;
    border-radius: 0;
    height: 3.625rem;
    line-height: 3.625rem;
    width: 100%;
    background: #fff;
}

.pre.disabled {
    display: inline-block;
    width: auto !important;
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.next.disabled {
    display: inline-block;
    width: auto !important;
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.disableonload.disabled {
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.pre {
    display: inline-block;
    width: auto !important;
    margin-right: 20px;
}

.next {
    display: inline-block;
    width: auto !important;
}

.button-radius8x8 {
    border-radius: 8px 8px 8px 8px !important;
}

.bs-datepicker-head button.next {
    width: 30px !important;
}

form.checkout {
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;
    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
}

form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
}

form.checkout button:active {
    background: rgb(165, 76, 43);
}

.StripeElement {
    margin: 1rem 0 1rem;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.btn_small_lable.activated {
    background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
}

.btn_small_lable {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 0 1.5625rem;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); */
}

.web-page-div {
    margin: 40px 0;
    padding: 0;
    position: relative;
}

.web-page-div .web-page-section {
    margin: 0;
    padding: 0;
    position: relative;
}

.web-page-div .web-page-section h2 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #000;
    font-size: 28px;
    font-weight: 700;
}

.web-page-div .web-page-section .content-p-div p {
    margin: 0 0 20px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.web-page-div .web-page-section .content-p-div ul {
    margin: 0 0 20px 30px;
    padding: 0;
    list-style: disc;
}

.web-page-div .web-page-section .content-p-div ul li {
    margin: 0 0 20px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}
/*
.prcing-table p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal !important;
}*/

.pricing-two .prcing-table.web-pricing {
    -webkit-box-shadow: 0 0 0 1px #ddd;
    box-shadow: 0 0 0 1px #ddd;
}

.contact-web-div {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.contact-web-div h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #222;
    font-weight: 18px;
    font-weight: 700;
    text-align: center;
}

.contact-web-div p {
    margin: 0 0 10px 0;
    padding: 0;
    color: #666;
    font-weight: 13px;
    text-align: center;
}

.contact-web-div a {
    color: #4a28dd;
}

.contact-web-div a:hover {
    color: #000;
    text-decoration: underline;
}

.contact-web-social {
    text-align: center;
    margin: 0 !important;
}

.contact-web-social li {
    height: 2.75rem;
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 2.75rem;
    margin: 0 10px 0 0 !important;
    border-radius: 100px;
    text-align: center;
    background: #2d3136;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.contact-web-social li a {
    font-size: 1.2rem;
    color: #fff !important;
    line-height: 2.75rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: block
}

.contact-web-social li:not(:last-child) {
    margin-right: .5rem
}

.img-100{
	height:100px !important;
	width:100px !important;
}

.contact-web-social li:hover {
    background: #4777f4
}


.faq-web-div { margin: 0; padding: 0; position: relative;}
.faq-web-div p {margin: 0 0 20px 0;  padding: 0;   color: #666;   font-size: 14px;    line-height: 24px;}

.accordion-toggle { display: block;}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-default > .panel-heading {
background-image: -webkit-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
	background-image: -o-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
    background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
}
.panel-heading { border-radius: 0; border: 0;}
.panel-title { color:#fff!important;}

.in-progress {color: green;  font-size: 12px; padding: 0 0 0 0px;   font-weight: bold; display:inline-block;}
.in-active {color: orange;  font-size: 12px; padding: 0 0 0 0px;   font-weight: bold; display:inline-block;}
.inactive {color: red;  font-size: 12px; padding: 0 0 0 0px;   font-weight: bold; display:inline-block;}

a.disabled-link{
	 pointer-events: none;
	 cursor: default;
	 color:#666;
}

a.dev-link {
    color: #818992!important;
    padding: 0 3px;
}
span.vline {
    vertical-align: top;
    padding: 0px 0 0 0;
    margin: -1px 0 0 0;
}
.pt200{
	padding-top:200px;
}
.right-minus30{
	right: -30px !important;
}
.right-minus60{
	right: -60px !important;
}
.pricing-two .prcing-table .white-text{
	color:#FFF;
}
.pricing-two .prcing-table .white-text:hover .nc-icon.nc-tail-right.white-text:before{ color:#4777f4; }

.w-100p p{ padding:25px 0; margin-bottom:10px;}



.hero-wrapper01 .hero-content { padding-top: 11.75rem; }

.hero-wrapper01 .hero__title { font-size: 32px; /* text-transform: uppercase; */ padding: 0 10%;margin-bottom:10px; }
.hero-wrapper01 .hero__caption { margin-bottom: 1.4rem; font-size: 16px; line-height: 1.7rem; }
.hero-wrapper01 .hero__caption.last_caption { margin-bottom: 4rem; }

.ul01{ padding:0; } 
.ul01 li{ margin:0 0 10px 0; }
.ul01 span.number-span {
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
	margin:0 5px 0 0;
}
.p-note{ margin:0 0 20px 0;color:#666; } 

.center-p-tag p{
	text-align:center;
}

.blockquote p {
    margin: 0;
    text-align: right;
}
.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
    text-align: right;
    padding: 10px 0 10px 0;
}
.center-p-tag h3 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    color: #222;
}

h3.italic-footer {
    font-size: 21px;
    font-style: italic;
    padding: 10px;
}

.user-form .forgot-password {
    padding-bottom: 7px;
}
.padding50{
	padding: 50px;
}
.margin-botom-50{
	margin-bottom:50px;
}

.no-border{
	border: none !important;
}

.blockquote { margin: 0 0 40px 0; padding: 10px; border-right:5px solid #742ee0; background: #f7f7f7;}
.blockquote .blockquote-footer { font-size: 14px; font-style: italic;}
.blockquote p{ font-size: 14px;}

.hightlight-box {margin: 0; padding: 30px 0;  background: #742ee0; text-align: center; color:#fff; font-size: 20px;}

.privacy-terms-div { margin: 0; padding: 0; position: relative;}
.privacy-terms-div h3{ margin: 0; padding: 0; color:#222; font-size: 18px;}
.privacy-terms-div h4{ margin: 0; padding: 0; color:#222; font-size: 16px;}
.privacy-terms-div .bullet-ul{ margin: 0 0 15px 20px; padding: 0; list-style: disc;}
.privacy-terms-div .bullet-ul li{ margin: 0; padding: 0; color:#666; font-size: 14px; line-height: 24px;}
.privacy-terms-div .in-blk { margin-left:20px;}

.ul-newcustom01 {
    list-style: disc;
    padding: 10px 0;
    margin: 0 0 0 20px;
}
.ul-newcustom01 li {
    padding: 5px 0;
    list-style: disc;
}

.intl-tel-input {
   width:100% !important;
}


.header-video{
	
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

}
.header-video-iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.how-work-video{
	
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	margin-bottom:15px;

}
.how-work-video-iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*********************************/
/****  resources-modal  **********/
/*********************************/

.modal.resources-modal{ z-index: 999999; }
.modal.resources-modal .modal-dialog{     max-width: 1150px }
.modal.resources-modal .modal-body { padding: 0px; }

.resources-body-left { width: 70%; padding: 30px; margin: 0; float: left; }
.resources-body-right { width: 30%; padding: 0; margin: 0; float: left; }


.resources-modal .resource-section01{ margin: 0 0 0px 0; padding: 0 30px 0 0;  }
.resources-modal .resource-section01 .heading-div { padding: 0; margin: 0 0 40px 0; width: 100%; text-align: left; }
.resources-modal .resource-div01 .col-65 { padding: 0px 0;margin: 0; width: 65%; float: left; display: inline-block; }
.resources-modal .resource-div01 .col-35 { padding: 0px 0;margin: 0; width: 35%; float: left; display: inline-block; }
.resources-modal .resource-section01 p.p-topbold { padding: 0; margin: 0 0 25px 0; font-size: 24px; font-weight: 500; color: #666666; }
.resources-modal .resource-section01 .content-txt-div h3 { font-size: 24px;    line-height: 36px; }
.resources-modal .download-div01 { padding: 0; margin: 60px 0 0 0; width: 100%; display: block; }
.resources-modal .download-div01 .download-link { font-size: 28px; color: #666; line-height: 48px; font-weight: 500; }

.resource-section01 { padding: 100px 0;margin: 0;position: relative; }
.resource-section01 .resource-div01{ padding: 0px 0;margin: 0 0 100px 0; width: 100%;float: left; }
.resource-section01 .resource-div01:last-child{ margin: 0 0 00px 0;  }
.resource-div01 .content-txt-div { padding: 0 20px 0 0px; margin: 0; }
.resource-div01 .content-txt-div h3 { padding: 0px 0; margin: 0; font-size: 32px; font-weight: 700; }
.resource-div01 .content-txt-div .ul-list-div{ padding: 0px 0;margin: 20px 0 0 0; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul{ position: relative; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul li { position: relative; display: block; line-height: 30px; padding-left: 40px; margin: 0 0 15px 0; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul li .icon-span-round { float: left; display: inline-block; background: #792FE0; height: 24px; width: 24px; border-radius: 100%; border: 5px solid #ffffffe6; position: absolute; left: 0; top: 4px; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul li span.txt-span { color: #666666; font-size: 18px; font-weight: 500; line-height: 28px; }
.resource-div01 .img-thumb-div{ padding: 0px 0;margin: 0; }
.resource-div01 .img-thumb-div .img-benefits{ padding: 0px 0;margin: 0;width: 100%; }

.resources-modal .get-the-ebook-forms-section01 { padding: 0px 0;margin: 0;position: relative; }
.resources-modal .get-the-ebook-forms-section01 .get-the-ebook-forms-div01 { padding: 30px 20px; margin: 0; background-color: #F8F4FF; min-height: 545px; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .col-50 { padding: 0px 4px;margin: 0; width: 33.3%; float: left; display: inline-block; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div { padding: 0px 0; margin: 40px 0 0 0; width: 100%; display: block; clear: both; }
.resources-modal .get-the-ebook-forms-div01 .heading-div{ padding: 0px 0;margin: 0; }
.resources-modal .get-the-ebook-forms-div01 .heading-div h2{ padding: 0px 0;margin: 0;text-align: center; }

.resources-modal .get-the-ebook-forms-div01 .full-forms-div .col-100 { padding: 0px 0px; margin: 0; width: 100%; float: left; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group{  margin: 0 0 20px 0; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control { width: 100%; padding: 0 20px; height: 50px; font-size: 18px; border: 1px solid #DDDDDD; border-radius: 0px; font-weight: 300; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control:hover, .resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control:focus { box-shadow: none; }

.resources-modal .btn_download_row01 { padding: 20px 0 0 0; margin: 0 auto;text-align: center; }
.resources-modal .btn_download_row01 .btn_download { color: #fff !important; width: 100%; font-size: 18px; border-radius: 100px !important; height: 50px; line-height: 51px; }
.resources-modal .btn_download_row01 .btn_download:hover { border-radius:100px !important; }
.resources-modal .btn_download_row01 .btn_download:before{ border-radius:100px !important; }
.resources-modal .download-div { padding: 0; margin: 30px 0 0 0; width: 100%; display: block; }
.resources-modal .download-div .download-link { font-size: 24px; color: #666; line-height: 36px; font-weight: 500; }
.resources-modal .download-div .download-link:hover, .resources-modal .download-div .download-link:focus{ text-decoration: none; }

.modal.resources-modal button.close { background-image: none; background: none no-repeat; color: #fff; height: 50px; width: 50px; background-color: #000; opacity: 1; font-size: 24px; line-height: 36px; padding: 0 0 5px 0 !important; margin: 0 0 0 0 !important; text-indent: 0; position: absolute; right: -50px; top: 0; display: inline-block; }
.modal.resources-modal .modal-content { border-radius: 0px; }

.modal-backdrop.show { opacity: .8;z-index: 99999; }

/*********************************/
/**  End of resources-modal  *****/
/*********************************/

@media only screen and (max-width: 767px){
	.prcing-table .plan-features { height:auto;}
	
	.hero-wrapper01 .hero__title {
		font-size: 28px;
		/*text-transform: uppercase; */
		padding: 0 0%;
		margin-bottom: 30px;
		line-height: 40px;
	}
    .hero__caption { padding: 0 5%; }
    
    
    /*********************************/
    /*********  resources-modal  *****/
    /*********************************/

    .modal.resources-modal .modal-dialog{     max-width: 100% }

    .resources-body-left{ width: 100%;    padding: 30px 20px;    float: left; }
    .resources-modal .resource-div01 .col-65{ width: 100%; }
    .resources-modal .resource-div01 .col-35{ width: 100%;margin: 20px 0px 0 0; }
    .resources-body-right{ width: 100%; }
    .modal.resources-modal button.close{ right: 0;z-index: 99999;height: 30px; width: 30px; font-size: 18px; line-height: 24px; }
    .resources-modal .resource-section01{ padding: 0 0 0 0; }
    .modal.resources-modal .modal-body { padding: 0px 0px; }

    .resources-modal .resource-section01 .heading-div { margin: 0 0 20px 0; }
    .resources-modal .resource-section01 .heading-div h2{     font-size: 24px; line-height: 36px; }
    .resources-modal .resource-section01 p.p-topbold{     margin: 0 0 15px 0; font-size: 16px; }
    .resources-modal .resource-section01 .content-txt-div h3 { font-size: 18px; line-height: 24px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li span.txt-span { font-size: 14px; line-height: 20px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li .icon-span-round { height: 18px; width: 18px; border: 4px solid #ffffffe6; top: 3px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li { padding-left: 30px; margin: 0 0 10px 0; }

    .resources-modal .download-div .download-link { font-size: 16px;  line-height: 26px; }
    .resources-modal .download-div { margin: 00px 0 0 0; }

    .resources-modal .get-the-ebook-forms-section01 .get-the-ebook-forms-div01 { padding: 30px 20px 30px 20px; margin: 30px 0 0 0; min-height: 100%; }
    .resources-modal .get-the-ebook-forms-div01 .heading-div h2{ font-size: 24px; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div { margin: 25px 0 0 0; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control {     padding: 0 15px; height: 40px; font-size: 16px; line-height: 40px; margin: 0; }

    .resources-modal .btn_download_row01 .btn_download { font-size: 14px; height: 40px; line-height: 42px; }
    .resources-modal .btn_download_row01 { padding: 10px 0 0 0; }

    .modal.resources-modal .modal-dialog { max-width: 100%; margin: 0; }

    /*********************************/
    /**  End of resources-modal  *****/
    /*********************************/
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.prcing-table .plan-features { height:130px;}
	.hero-wrapper01 .hero-content { padding-top: 10.75rem; }
	.hero-wrapper01 .hero__title {
		font-size: 36px;
		/*text-transform: uppercase; */
		padding: 0 0%;
		margin-bottom: 30px;
		line-height: 50px;
	}
    .hero__caption { padding: 0 5%; }
    
    /*********************************/
    /*********  resources-modal  *****/
    /*********************************/
    
    .modal.resources-modal button.close{right: -15px; top: -20px;z-index: 99999;height: 30px; width: 30px; font-size: 20px; line-height: 24px; }
    .modal.resources-modal .modal-dialog { max-width: 700px; }
    .modal.resources-modal .modal-body { padding: 0px; }

    .modal.resources-modal .resources-body-left{ width: 65%;    padding: 20px; }
    .modal.resources-modal .resources-body-right{ width: 35%; }
    .resources-modal .resource-section01 { padding: 0 0px 0 0; }

    .resources-modal .resource-section01 .heading-div { margin: 0 0 20px 0; }
    .resources-modal .resource-section01 .heading-div h2{     font-size: 24px; line-height: 36px; }
    .resources-modal .resource-section01 p.p-topbold{     margin: 0 0 15px 0; font-size: 16px; }
    .resources-modal .resource-section01 .content-txt-div h3 { font-size: 18px; line-height: 24px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li span.txt-span { font-size: 14px; line-height: 20px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li .icon-span-round {     height: 16px; width: 16px; border: 4px solid #ffffffe6; top: 2px; left: 0; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li { padding-left: 30px; margin: 0 0 20px 0; line-height: 16px; }
     
    .resources-modal .download-div .download-link { font-size: 16px;  line-height: 26px; }
    .resources-modal .download-div { margin: 00px 0 0 0; }

    .resources-modal .get-the-ebook-forms-section01 .get-the-ebook-forms-div01 { padding: 20px 20px 20px 20px; margin: 0px 0 0 0;    min-height: 430px; }
    .resources-modal .get-the-ebook-forms-div01 .heading-div h2{ font-size: 24px; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div { margin: 25px 0 0 0; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control {     padding: 0 15px; height: 40px; font-size: 16px; line-height: 40px; margin: 0; }

    .resources-modal .btn_download_row01 .btn_download { font-size: 14px; height: 40px; line-height: 42px; min-width: 100%; }
    .resources-modal .btn_download_row01 { padding: 10px 0 0 0; }

    /*********************************/
    /**  End of resources-modal  *****/
    /*********************************/

}



/* CB */

.prcing-table.free-plan {
	background: #4928dd; /* Old browsers */
	background: -moz-linear-gradient(top, #4928dd 0%, #7a2fe0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4928dd 0%,#7a2fe0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4928dd 0%,#7a2fe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4928dd', endColorstr='#7a2fe0',GradientType=0 ); /* IE6-9 */
  }
  .prcing-table.free-plan .db-btn { background: #fff; border:0; box-shadow:none;}
  .prcing-table.free-plan .plan-features__list { color:#fff;}
  .prcing-table.free-plan .prcing-table__plan-name{ color:#fff;}
    .prcing-table.free-plan .prcing-header .currency{ color:#fff; font-weight: bold; display: block; text-transform: uppercase;}
  .prcing-table.free-plan .prcing-header .val-new{ color:#fff; text-transform: uppercase; display: block;}

  .prcing-table.free-plan .db-btn:hover { color:#fff!important;}
  .prcing-table.free-plan .db-btn:before{ background: #4777f4; border:0; box-shadow:none; color:#fff!important;}




/* Blog detail design */

.blog-main .article p br {
    display: none;
}

.blog-main .article p {
    margin-bottom: 15px;
	text-align: justify;	
}



.testimonials_section{ padding: 0;margin: 0;position: relative; }
.testimonials_div{ padding: 0;margin: 0; }

.testimonials_div .owl-carousel .owl-stage-outer { padding: 65px 10px 30px 10px !important; }

.testimonials_div .team_card_div { padding: 25px 25px 35px 25px; margin: 0; position: relative; box-shadow: 0 0 10px 0 rgba(102, 102, 102, 0.15);border-radius: 10px;transition: all ease-in-out 0.2s; }
.testimonials_div .team_img_thumb { padding: 0; margin: -80px 0 40px 0; text-align: center !important;}
.testimonials_div .team_img_thumb .img-team-user { padding: 0; margin: 0 auto; width: 115px; height: 115px; border-radius: 100%; }

.testimonials_div .team_heading_div{ padding: 0; margin: 0 0 15px 0;text-align: center; }
.testimonials_div .team_heading_div h4{ padding: 0; margin: 0 0 15px 0;font-size: 24px;font-weight: 500; }
.testimonials_div .team_heading_div p{ padding: 0; font-size: 16px;line-height: 24px; }
.testimonials_div .team_heading_div .position_txt{ padding: 0; margin: 0 0 10px 0;line-height: 24px; }

.testimonials_div .team_quote_div{ padding: 0; margin: 0;position: relative;min-height: 100px }
.testimonials_div .team_quote_div .quote_div{ padding: 0; margin: 0;width: 60px; }
.testimonials_div .team_quote_div .quote_left_div.quote_div { float: left; position: absolute; top: 0; left: 0;    z-index: -1; }
.testimonials_div .team_quote_div .quote_right_div.quote_div { float: right; position: absolute; bottom: 0; right: 0;    z-index: -1; }
.testimonials_div .team_quote_div .quote_div .quote_img{ padding: 0; margin: 0; }
.testimonials_div .team_quote_div .team_quote_desc { padding: 25px 0px 0 40px; margin: 0; z-index: 3;color: #222222; }
.testimonials_div .team_quote_div .team_quote_desc p { color: #222222; font-size: 16px; line-height: 24px; font-weight: 400; }

.icons-quote { margin: 0 auto; padding: 0; height: 51px; width: 60px; display: block; background-size: contain; vertical-align: middle; text-align: center; fill: #EEEEEE; color: #EEEEEE; -webkit-mask-size: cover; mask-size: cover; background-color: #EEEEEE; }
.icons-quote.icon-quote-left { -webkit-mask: url(../img/quote-left.svg) no-repeat 100% 100%; mask: url(../img/quote-left.svg) no-repeat 100% 100%; }
.icons-quote.icon-quote-right { -webkit-mask: url(../img/quote-right.svg) no-repeat 100% 100%; mask: url(../img/quote-right.svg) no-repeat 100% 100%; }

.testimonials_div .team_card_div:hover, .testimonials_div .team_card_div:focus{ background: #652CDF;z-index: 0; }
.testimonials_div .team_card_div:hover h4, .testimonials_div .team_card_div:focus h4{ color: #fff; }
.testimonials_div .team_card_div:hover p, .testimonials_div .team_card_div:focus p{ color: rgba(255, 255, 255, 0.59); }
.testimonials_div .team_card_div:hover .team_quote_desc p, .testimonials_div .team_card_div:focus .team_quote_desc p{ color: #dddddd; }
.testimonials_div .team_card_div:hover .icons-quote, .testimonials_div .team_card_div:focus .icons-quote { fill: #7239EE; color: #7239EE;background-color: #7239EE; }
.testimonials_div .owl-carousel .owl-stage { display: flex; justify-content: center; align-items: center; }

.testimonials_div .owl-nav { background: #eee; width: 100%; position: absolute; top: 50%; left: 0; }
.testimonials_div .owl-nav button.owl-prev { position: absolute; left: -150px;box-shadow: 0 0 10px 0 rgba(102, 102, 102, 0.15); border-radius: 100%;height: 60px;width: 60px; }
.testimonials_div .owl-nav button.owl-next { position: absolute; right: -150px;box-shadow: 0 0 10px 0 rgba(102, 102, 102, 0.15); border-radius: 100%;height: 60px;width: 60px;  }
.testimonials_div .owl-nav .custom_icon{ padding: 3px !important; }
.testimonials_div .owl-theme .owl-nav [class*='owl-']:hover { background: #7239EE; color: #FFF; text-decoration: none; }

.testimonials_div .owl-nav button.owl-prev .left_icon{ transform: rotate(180deg); }

.testimonials_div .owl-item.active:nth-child(2) { margin-right: 40px !important; }
.testimonials_div .owl-item.active:nth-child(3) { margin-right: 40px !important; }


/****************************/
/********  Home Page  ********/
/****************************/

.benifite-section { padding: 100px 0;margin: 0;position: relative; }
.benifite-section .benifite-div{ padding: 0px 0;margin: 0 0 100px 0; width: 100%;float: left; }
.benifite-section .benifite-div:last-child{ margin: 0 0 00px 0;  }
.benifite-div .col-50 { padding: 0px 0;margin: 0; width: 50%; float: left; display: inline-block; }
.benifite-div .content-txt-div{ padding: 0 50px 0 0;margin: 0; }
.benifite-div .content-txt-div h3 { padding: 0px 0; margin: 0; font-size: 32px; font-weight: 700; }
.benifite-div .content-txt-div .ul-list-div{ padding: 0px 0;margin: 40px 0 0 0; }
.benifite-div .content-txt-div .ul-list-div .benifite-ul{ position: relative; }
.benifite-div .content-txt-div .ul-list-div .benifite-ul li { position: relative; display: block; line-height: 30px; padding-left: 50px; margin: 0 0 25px 0; }
.benifite-div .content-txt-div .ul-list-div .benifite-ul li .icon-span-round { float: left; display: inline-block; background: #792FE0; height: 27px; width: 27px; border-radius: 100%; border: 7px solid #ffffffe6; position: absolute; left: 0; top: 5px; }
.benifite-div .content-txt-div .ul-list-div .benifite-ul li span.txt-span { color: #666666; font-size: 24px; font-weight: 400; line-height: 36px; }
.benifite-div .img-thumb-div{ padding: 0px 0;margin: 0; }
.benifite-div .img-thumb-div .img-benefits{ padding: 0px 0;margin: 0;width: 100%; }
.benifite-div02 .content-txt-div{ padding: 0 0 0 50px;margin: 0; }

.light-blue-box-section { padding: 0px 0;margin: 0;position: relative; }
.light-blue-box-section .light-blue-box-div{ padding: 100px 0;margin: 0;background-color: #F8F4FF; }
.light-blue-box-div .col-33 { padding: 0px 4px;margin: 0; width: 33.3%; float: left; display: inline-block; }
.light-blue-box-div .full-div{ padding: 0px 0;margin: 0; }
.light-blue-box-div .full-div .white-card-div { padding: 20px; margin: 0; background-color: #FFFFFF; border-radius: 6px; min-height: 275px;transition:all 0.4s ease-in-out;  }
.light-blue-box-div .full-div .white-card-div:hover{ box-shadow: 10px 10px 36px 0 #8f4af02b; }
.light-blue-box-div .full-div .white-card-div .img-center-thumb{  padding: 20px 0;margin: 0 auto;width: 100%; text-align: center; }
.light-blue-box-div .full-div .white-card-div .txt-center-content{ padding: 20px 0 5px 0;margin: 0;    text-align: center; }
.light-blue-box-div .full-div .white-card-div .txt-center-content h5 { padding: 0px 0; margin: 0; font-size: 22px; line-height: 30px; color: #222222; font-weight: 700; }
.light-blue-box-div .full-div .white-card-div .txt-center-content p { padding: 0px 0; margin: 5px auto 0 auto; color: #666666; font-size: 18px; font-weight: 400; line-height: 24px; width: 63%; }

.how-it-work-section { padding: 100px 0 100px 0; }
.how-it-work-section .section-title { margin: 0 auto 0 auto; margin-bottom: 0px; }
.how-it-work-section .video-main-div{ padding: 0px 0 0px 0;width: 100%;margin: 50px 0 0 0; }
.how-it-work-section .video-main-div .video-tag01{ padding: 0px 0 0px 0;width: 100%; border-radius: 10px; }


.dark-blue-box-section { padding: 0px 0;margin: 0;position: relative; }
.dark-blue-box-section .dark-blue-box-div{ padding: 100px 0;margin: 0;background-color: #662CDF;position: relative; }
.dark-blue-box-div .full-row-div { padding: 0; margin: 0; position: relative; min-height: 150px; }
.dark-blue-box-div .quote_div02{ padding: 0; margin: 0;width: 60px; }
.dark-blue-box-div .quote_left_div02.quote_div02 { float: left; position: absolute; top: -5px; left: 0;  }
.dark-blue-box-div .quote_right_div02.quote_div02 { float: right; position: absolute; bottom: 0; right: 0; }
.dark-blue-box-div .icons-quote02 { margin: 0 auto; padding: 0; height: 67px; width: 94px; float: left; display: block; background-size: contain; vertical-align: middle; text-align: center; fill: #EEEEEE; color: #EEEEEE; -webkit-mask-size: cover; mask-size: cover; background-color: #8f4af0; }
.dark-blue-box-div .icons-quote02.icon-quote-left02 { -webkit-mask: url(../img/quote-left2.svg) no-repeat 100% 100%; mask: url(../img/quote-left2.svg) no-repeat 100% 100%; }
.dark-blue-box-div .icons-quote02.icon-quote-right02 { -webkit-mask: url(../img/quote-right2.svg) no-repeat 100% 100%; mask: url(../img/quote-right2.svg) no-repeat 100% 100%; }
.dark-blue-box-div .quote_desc{ padding: 0;margin: 0; }
.dark-blue-box-div .quote_desc p { padding: 0; margin: 0 auto; font-size: 40px; font-weight: 300; color: #FFFFFF; line-height: 70px; width: 60%; text-align: center; }

.pricing-plan-page .plan_center_div .p-block-div { margin: 0px 0 0 0; }
.pricing-plan-page .plan_center_div .p-block-div span.bold-666 { color: #54595F; font-weight: 500; }
.pricing-plan-page .plan_center_div .blue-span { color: #6f2ee0; }


.hero-wrapper.hero-wrapper01 .hero-content.hero-content02 .hero__title.hero__title02 { padding: 10px 20% 0px 20%; line-height: 44px ; }

/****************************/
/***** End of Home Page  ****/
/****************************/


/*********************************/
/********  get-the-ebook  ********/
/*********************************/

.resource-section{ margin: 100px 0 0px 0; }
.resource-section .abstract-shape.abstract-shape-left01 { left: -200px; top: -600px; }
.resource-section .heading-div { padding: 0; margin: 0 0 80px 0; width: 100%; text-align: center; }
.benifite-div .col-60 { padding: 0px 0;margin: 0; width: 60%; float: left; display: inline-block; }
.benifite-div .col-40 { padding: 0px 0;margin: 0; width: 40%; float: left; display: inline-block; }
.resource-section p.p-topbold { padding: 0; margin: 0 0 50px 0; font-size: 28px; font-weight: 500; color: #666666; }
.resource-section .content-txt-div h3 { font-size: 28px; }
.download-div { padding: 0; margin: 60px 0 0 0; width: 100%; display: block; }
.download-div .download-link { font-size: 28px; color: #666; line-height: 48px; font-weight: 500; }

.get-the-ebook-forms-section { padding: 0px 0;margin: 0;position: relative; }
.get-the-ebook-forms-section .get-the-ebook-forms-div{ padding: 100px 0;margin: 0;background-color: #F8F4FF; }
.get-the-ebook-forms-div .full-forms-div .col-50 { padding: 0px 4px;margin: 0; width: 33.3%; float: left; display: inline-block; }
.get-the-ebook-forms-div .full-forms-div { padding: 0px 0; margin: 60px 0 0 0; width: 100%; display: block; clear: both; }
.get-the-ebook-forms-div .heading-div{ padding: 0px 0;margin: 0; }
.get-the-ebook-forms-div .heading-div h2{ padding: 0px 0;margin: 0;text-align: center; }

.get-the-ebook-forms-div .full-forms-div .col-50 { padding: 0px 30px; margin: 0; width: 50%; float: left; }
.get-the-ebook-forms-div .full-forms-div .col-100 { padding: 0px 30px; margin: 0; width: 100%; float: left; }
.get-the-ebook-forms-div .full-forms-div .form-group{  margin: 0 0 20px 0; }
.get-the-ebook-forms-div .full-forms-div .form-group .form-control { width: 100%; padding: 0 35px; height: 70px; font-size: 24px; border: 1px solid #DDDDDD; border-radius: 0px;    font-weight: 300; }

.btn_download_row { padding: 40px 0 0 0; margin: 0 auto;text-align: center; }
.btn_download_row .btn_download { color: #fff !important; min-width: 250px; font-size: 18px; border-radius:100px !important;  }
.btn_download_row .btn_download:hover { border-radius:100px !important; }
.btn_download_row .btn_download:before{ border-radius:100px !important; }


/*********************************/
/****  End of get-the-ebook  *****/
/*********************************/


.testimonials_div .team_card_div { min-height: 600px!important;    margin: 10px 5px 25px 5px; }
/* .swiper-container.swiper-container-autoheight .swiper-wrapper { height: 100% !important; } */



@media (max-width: 767px){

    .testimonials_section { padding: 80px 0 0 0;  }
    .testimonials_div .owl-carousel .owl-stage { display: flex; justify-content: center; align-items: flex-start; }
    
    .testimonials_div .owl-nav { display: none; }
    .testimonials_div .owl-nav button.owl-prev { left: 0px;height: 60px;width: 60px; }
    .testimonials_div .owl-nav button.owl-next { right: 0px;height: 60px;width: 60px;  }
    .testimonials_div .owl-item.active { margin-right: 40px !important; }

    .testimonials_div .owl-carousel .owl-stage-outer {  padding: 0px 10px 30px 5px !important; }
    .testimonials_div .team_img_thumb .img-team-user { width: 80px; height: 80px; }
    .testimonials_div .team_img_thumb { margin: -65px 0 25px 0; }
    .testimonials_div .team_heading_div h4 { font-size: 21px; }
    .testimonials_div .team_heading_div p {  font-size: 14px; }
    .testimonials_div .team_quote_div .team_quote_desc p {  font-size: 14px; }

    .testimonials_div .owl-item { margin-right: 30px !important; }
    .testimonials_div .owl-item.active { margin-right: 30px !important; }
    .testimonials_div .owl-item.active:nth-child(3) { margin-right: 30px !important; }
    .testimonials_div .owl-item.active:nth-child(2) { margin-right: 30px !important; }
    .testimonials_div .team_card_div { padding: 75px 25px 35px 25px; }
	
	
	
	    /****************************/
    /********  Home Page  ********/
    /****************************/

    .benifite-section {  padding: 0 5px; margin: 0; }
    .benifite-div .col-50{ width: 100%; }
    .benifite-div .content-txt-div { padding: 0; margin: 0 0 60px 0; }
    .benifite-div .content-txt-div h3{ font-size: 24px; }
    .benifite-div .content-txt-div .ul-list-div .benifite-ul li{ line-height: 20px; padding-left: 35px; margin: 0 0 20px 0; }
    .benifite-div .content-txt-div .ul-list-div .benifite-ul li .icon-span-round { height: 20px; width: 20px; border: 4px solid #ffffffe6; top: 5px; }
    .benifite-div .content-txt-div .ul-list-div .benifite-ul li span.txt-span { font-size: 18px; line-height: 30px; }
    .benifite-div02 .content-txt-div{ padding: 0; margin: 60px 0 60px 0; }
    .light-blue-box-div .col-33{  width: 100%;margin: 0 0 10px 0; }
    .dark-blue-box-div .quote_desc p { font-size: 28px; line-height: 40px; width: 90%;z-index: 2;    background-color: #662CDF; padding: 30px 0 60px 0; }
    .dark-blue-box-div .quote_left_div02.quote_div02 { top: -40px;z-index: 0; }
    .dark-blue-box-div .quote_right_div02.quote_div02 { bottom: -10px; right: 50px; }
    .hero-wrapper.hero-wrapper01 .hero-content.hero-content02 .hero__title.hero__title02 { padding: 10px 5% 0px 5%; line-height: 40px; }
    section.hero-thirteen.hero-text-light.content-left .hero__wave { z-index: 2; bottom: -2px; }

    /****************************/
    /***** End of Home Page  ****/
    /****************************/


    /*********************************/
    /****  get-the-ebook  *****/
    /*********************************/

    .resource-section{ margin: 150px 0 0px 0; }
    .get-the-ebook-forms-div .full-forms-div .col-50{     padding: 0px 10px; }
    .get-the-ebook-forms-div .full-forms-div .col-100{     padding: 0px 10px; }
    .benifite-div .col-60 { padding: 0 0px 0 0;width: 100%; }
    .download-div .download-link { font-size: 20px; }
    .resource-section p.p-topbold{ font-size: 20px;    margin: 0 0 30px 0;  }
    .benifite-div .col-40{ width: 100%;margin: 0 0 80px 0; }
    .get-the-ebook-forms-div .full-forms-div .col-50{ width: 100%; }
    .resource-section .heading-div{ margin: 0 0 50px 0; }
    .get-the-ebook-forms-section .get-the-ebook-forms-div{ padding: 80px 0; }
    .get-the-ebook-forms-div .full-forms-div{ margin: 40px 0 0 0; }
    .get-the-ebook-forms-div .full-forms-div .form-group .form-control{ height: 50px;    padding: 0 15px;     font-size: 16px; }

    /*********************************/
    /****  End of get-the-ebook  *****/
    /*********************************/

    /* .swiper-container.swiper-container-autoheight .swiper-wrapper { height: auto !important; } */
    .testimonials_div .team_card_div {
        min-height: 615px !important;
    }
    .benifite-section{ padding: 70px 5px; }

}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .testimonials_section { padding: 80px 0 0 0;  }

    
    .testimonials_div .owl-carousel .owl-stage { display: flex; justify-content: center; align-items: flex-start; }
    .testimonials_div .owl-nav { top: 10%; }

    .testimonials_div .owl-nav button.owl-prev { left: 0px;height: 60px;width: 60px; }
    .testimonials_div .owl-nav button.owl-next { right: 0px;height: 60px;width: 60px;  }
    .testimonials_div .owl-item.active { margin-right: 40px !important; }

    .testimonials_div .owl-carousel .owl-stage-outer {  padding: 0px 10px 30px 5px !important; }
    .testimonials_div .team_img_thumb .img-team-user { width: 80px; height: 80px; }
    .testimonials_div .team_img_thumb { margin: -50px 0 25px 0; }
    .testimonials_div .team_heading_div h4 { font-size: 21px; }
    .testimonials_div .team_heading_div p {  font-size: 14px; }
    .testimonials_div .team_quote_div .team_quote_desc p {  font-size: 14px; }

    .testimonials_div .owl-item { margin-right: 30px !important; }
    .testimonials_div .owl-item.active { margin-right: 30px !important; }
    .testimonials_div .owl-item.active:nth-child(3) { margin-right: 30px !important; }
    .testimonials_div .owl-item.active:nth-child(2) { margin-right: 30px !important; }
    .testimonials_div .team_card_div { padding: 75px 25px 35px 25px; }
     
	 
	/****************************/
    /********  Home Page  ********/
    /****************************/

    .benifite-section {  padding: 0 5px; margin: 0; }
    .benifite-div .col-50{ width: 100%; }
    .benifite-div .content-txt-div { padding: 0; margin: 0 0 60px 0; }
    .benifite-div .content-txt-div h3{ font-size: 24px; }
    .benifite-div .content-txt-div .ul-list-div .benifite-ul li{ line-height: 20px; padding-left: 35px; margin: 0 0 20px 0; }
    .benifite-div .content-txt-div .ul-list-div .benifite-ul li .icon-span-round { height: 20px; width: 20px; border: 4px solid #ffffffe6; top: 5px; }
    .benifite-div .content-txt-div .ul-list-div .benifite-ul li span.txt-span { font-size: 18px; line-height: 30px; }
    .benifite-div02 .content-txt-div{ padding: 0; margin: 60px 0 60px 0; }
    .light-blue-box-div .col-33{ margin: 0 0 10px 0; }
    .dark-blue-box-div .quote_desc p { font-size: 28px; line-height: 40px; width: 90%;z-index: 2;    background-color: #662CDF; padding: 30px 0 30px 0; }
    .dark-blue-box-div .quote_left_div02.quote_div02 { top: -40px;z-index: 0; }
    .dark-blue-box-div .quote_right_div02.quote_div02 { bottom: -10px; right: 50px; }
    .light-blue-box-div .full-div .white-card-div .txt-center-content p { padding: 0px 10px; margin: 15px auto 0 auto; font-size: 16px; width: 100%; }
    .light-blue-box-div .full-div .white-card-div .txt-center-content h5 { font-size: 18px; line-height: 26px; }
    .light-blue-box-div .full-div .white-card-div { padding: 20px 10px; min-height: 300px; }
    .benifite-section .benifite-div{ margin: 60px 0 100px 0; }
    .hero-wrapper.hero-wrapper01 .hero-content.hero-content02 .hero__title.hero__title02 { padding: 10px 5% 0px 5%; line-height: 40px; }
    

    /****************************/
    /***** End of Home Page  ****/
    /****************************/  

 
}




@media screen and (min-width: 1024px) and (max-width: 1366px){

    .benifite-div .col-50 {
        width: 50%;
    }
    .benifite-div .content-txt-div {
        padding: 0 50px 0 0;
        margin: 0;
    }
    .benifite-div02 .content-txt-div {
        padding: 0 0 0 50px;
        margin: 0;
    }
    .benifite-section {
        padding: 100px 0;
        margin: 0;
        position: relative;
    }
    .hero-thirteen .hero__wave {
        z-index: 99;
        bottom: -3px;
    }


    .navigation__landscape .navigation__brand {
        margin-bottom: 3px;
        line-height: 28px;
        padding: 12px;
    }
    .navigation__landscape .navigation-menu>li>.navigation-menu__link, .navigation.sticky-nav.navigation__landscape .navigation-menu>li>.navigation-menu__link {
        display: inline-block;
        padding: 0 8px;
        font-size: 12px !important;
    }
    .navigation-button.navigation-button-couple {
        width: 205px;
    }
    .navigation .navigation-button-couple .nav-cta-btn.more-space:not(:last-child) {
        margin-right: 20px!important;
    }
    img.navigation-main__logo, img.sticky-nav__logo {
        width: 150px;
    }
    .navigation__landscape.navigation__separate .navigation-wrapper {
        position: relative;
        margin-right: 30px;
        padding-right: 25px;
    }


    .sticky-nav.navigation__landscape.navigation__separate .navigation-wrapper {
        position: relative;
        margin-right: 30px;
        padding-right: 25px;
    }

}

.planbg { background: #fff !important; }


.pricing-plan-page { margin: 150px 0 0 0; padding-bottom: 0; }
.pricing-plan-page .justification_center{ justify-content: center; }
.pricing-plan-page p.center_p { color: #2D3136; font-size: 36px; line-height: 48px; font-weight: 500; padding: 40px 0 10px 0; }
.pricing-plan-page p.center_p2 { color: #2D3136; font-size: 20px; line-height: 28px; font-weight: 400; padding: 0px 0 25px 0; }
.pricing-plan-page .prcing-table .prcing-header { margin-bottom: 30px; height: auto; }
.span_block{ display: block; }

.pricing-home {
    margin: 0 0 0 0;
}

.pricing-plan-page .prcing-table { min-height: 415px; }
.pricing-plan-page .prcing-table .plan-features { margin-bottom: 2.5rem; height: auto; }
.pricing-plan-page .prcing-table .db-btn{ color: #fff; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); background-image: -webkit-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); background-image: -o-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); }
.pricing-plan-page .prcing-table .db-btn:hover .db-btn__icon{ color: #4a28dd !important; }
.pricing-plan-page .prcing-table .db-btn:hover{ color: #4a28dd !important;border-radius: 11px !important;box-shadow:0 3px 10px rgba(0, 0, 0, 0.1); }

.pricing-plan-page .plan_center_div{ padding: 40px 0;margin:0 auto;text-align: center; }
.pricing-plan-page .plan_center_div p.txt-center{ padding: 0px 0;text-align: center; }
.pricing-plan-page .pricing_highlight{ color: #4a28dd !important; }

.abstract-shape.abstract-shape-left01 { display: block; position: absolute; right: auto; left: -200px; top: 0; z-index: -1; transform: rotate(180deg); }
.abstract-shape.abstract-shape-left01 .svg{ height: 1200px; }
.abstract-shape.abstract-shape-right01 { display: block; position: absolute; right: -350px; left: auto; top: -20%; z-index: -1; }
.abstract-shape.abstract-shape-right01 .svg{ height: 1200px; }

.plan_membership_div { padding: 0; margin: 0 auto 50px auto; width: 830px; }
.plan_membership_div .left_desc_div { padding: 30px 0 0 0; margin: 0; width: 65%; float: left; }
.plan_membership_div .left_desc_div p { padding: 0; margin: 0 0 25px 0; font-size: 24px; font-weight: 400; color: #2D3136;line-height: 36px; }
.plan_membership_div .left_desc_div .plan_btn_row { padding: 10px 0 0 0; margin: 0; }
.plan_membership_div .left_desc_div .btn_sign_up_plan { color: #fff !important; min-width: 250px; font-size: 18px; border-radius:100px !important;  }
.plan_membership_div .left_desc_div .btn_sign_up_plan:hover { border-radius:100px !important; }
.plan_membership_div .left_desc_div .btn_sign_up_plan:before{ border-radius:100px !important; }

.plan_membership_div .right_desc_div { padding: 0; margin: 0; width: 35%; float: left; }
.plan_membership_div .right_desc_div .thumb_div { padding: 0; margin: 0 auto;  }
.plan_membership_div .right_desc_div .thumb_div .img_plan_member { padding: 0; margin: 0; width: 350px !important; }

@media (max-width: 767px){

    .abstract-shape.abstract-shape-left01 { display: none; }
    .abstract-shape.abstract-shape-right01 { display:  none; }
   
    .plan_membership_div { margin: 0 auto 50px auto; width: 100%; }
    .plan_membership_div .left_desc_div{ width: 100%;margin: 0 auto 50px auto; }
    .plan_membership_div .right_desc_div{ width: 100%; }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .abstract-shape.abstract-shape-left01 { display: none; }
    .abstract-shape.abstract-shape-right01 { display:  none; }
   
    .plan_membership_div { margin: 0 auto 50px auto; width: 100%; }
    .plan_membership_div .left_desc_div { padding: 00px 0 0 0; }
     
}

.swiper-container {
    padding: 65px 0 0 0px;
}

.pricing-two p.center_p {
    color: #2D3136;
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    padding: 40px 0 10px 0;
}
/* 
.arrow-left {
    position: absolute;
    background: gray;
    top: 50%;
    left: -40px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
  }
  .arrow-right {
    position: absolute;
    background: gray;
    top: 50%;
    right: -40px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
  } */

  .swiper-nav .swiper-button-next {
    right: -78px !important;
    left: auto !important;
    position: absolute !important;
    right: -150px !important;
    box-shadow: 0 0 10px 0 rgba(102, 102, 102, 0.15) !important;
    border-radius: 100% !important;
    height: 60px !important;
    width: 60px !important;
    background-image: none !important; 
}
.swiper-nav .swiper-button-next .db-btn__icon.nc-tail-right {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0;
}
.swiper-nav .swiper-button-next {
    position: absolute;
    top: 500px;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.swiper-nav .swiper-button-prev {
    right: 0 !important;
    position: absolute !important;
    left: -150px !important;
    box-shadow: 0 0 10px 0 rgba(102, 102, 102, 0.15) !important;
    border-radius: 100% !important;
    height: 60px !important;
    width: 60px !important;
    background-image: none !important; 
    transform: rotate(180deg);

}
.swiper-nav .swiper-button-prev .db-btn__icon.nc-tail-right {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0;
    top: -1px !important;
}
.swiper-nav .swiper-button-prev {
    position: absolute;
    top: 500px;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.swiper-nav .db-btn__icon {
    padding-right: .9375rem;
    font-size: 1.5625rem;
    position: relative;
    top: 1px;
}

.swiper-nav .swiper-button-next:hover, .swiper-nav .swiper-button-prev:hover{ background: #7239EE; color: #FFF; text-decoration: none; }


@media (max-width: 767px){


    .swiper-nav {
        display: none !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .swiper-slide {
        width: 100% !important;
    }
    .swiper-nav .swiper-button-next {
        right: 0px !important; 
        top: 45% !important;
    }
    .swiper-nav .swiper-button-prev {
        right: 0 !important;
        position: absolute !important;
        left: 0px !important; 
        top: 45% !important;
    }
     
}


.swiper-wrapper { height:auto; }

.testimonials_div .team_card_div{ 
    min-height: 615px !important;
}

.pricing-two .prcing-table__plan-name {
    color: #818992;
    font-size: 21px;
    font-weight: 500;
}


@media screen and (min-width: 1024px) and (max-width: 1366px){

    .swiper-container-autoheight .swiper-wrapper {
        width: 50%;
    }
    .testimonials_div .team_card_div {
        min-height: 680px !important;
    }
    .navigation__landscape .container-full {
        padding-right: 0;
        padding-left: 0;
    }

}