/*********************************/
/****  resources-modal  **********/
/*********************************/

.modal.resources-modal{ z-index: 999999; }
.modal.resources-modal .modal-dialog{     max-width: 1150px }
.modal.resources-modal .modal-body { padding: 0px; }

.resources-body-left { width: 70%; padding: 30px; margin: 0; float: left; }
.resources-body-right { width: 30%; padding: 0; margin: 0; float: left; }


.resources-modal .resource-section01{ margin: 0 0 0px 0; padding: 0 30px 0 0;  }
.resources-modal .resource-section01 .heading-div { padding: 0; margin: 0 0 40px 0; width: 100%; text-align: left; }
.resources-modal .resource-div01 .col-65 { padding: 0px 0;margin: 0; width: 65%; float: left; display: inline-block; }
.resources-modal .resource-div01 .col-35 { padding: 0px 0;margin: 0; width: 35%; float: left; display: inline-block; }
.resources-modal .resource-section01 p.p-topbold { padding: 0; margin: 0 0 25px 0; font-size: 24px; font-weight: 500; color: #666666; }
.resources-modal .resource-section01 .content-txt-div h3 { font-size: 24px;    line-height: 36px; }
.resources-modal .download-div01 { padding: 0; margin: 60px 0 0 0; width: 100%; display: block; }
.resources-modal .download-div01 .download-link { font-size: 28px; color: #666; line-height: 48px; font-weight: 500; }

.resource-section01 { padding: 100px 0;margin: 0;position: relative; }
.resource-section01 .resource-div01{ padding: 0px 0;margin: 0 0 100px 0; width: 100%;float: left; }
.resource-section01 .resource-div01:last-child{ margin: 0 0 00px 0;  }
.resource-div01 .content-txt-div { padding: 0 20px 0 0px; margin: 0; }
.resource-div01 .content-txt-div h3 { padding: 0px 0; margin: 0; font-size: 32px; font-weight: 700; }
.resource-div01 .content-txt-div .ul-list-div{ padding: 0px 0;margin: 20px 0 0 0; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul{ position: relative; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul li { position: relative; display: block; line-height: 30px; padding-left: 40px; margin: 0 0 15px 0; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul li .icon-span-round { float: left; display: inline-block; background: #792FE0; height: 24px; width: 24px; border-radius: 100%; border: 5px solid #ffffffe6; position: absolute; left: 0; top: 4px; }
.resource-div01 .content-txt-div .ul-list-div .benifite-ul li span.txt-span { color: #666666; font-size: 18px; font-weight: 500; line-height: 28px; }
.resource-div01 .img-thumb-div{ padding: 0px 0;margin: 0; }
.resource-div01 .img-thumb-div .img-benefits{ padding: 0px 0;margin: 0;width: 100%; }

.resources-modal .get-the-ebook-forms-section01 { padding: 0px 0;margin: 0;position: relative; }
.resources-modal .get-the-ebook-forms-section01 .get-the-ebook-forms-div01 { padding: 30px 20px; margin: 0; background-color: #F8F4FF; min-height: 545px; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .col-50 { padding: 0px 4px;margin: 0; width: 33.3%; float: left; display: inline-block; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div { padding: 0px 0; margin: 40px 0 0 0; width: 100%; display: block; clear: both; }
.resources-modal .get-the-ebook-forms-div01 .heading-div{ padding: 0px 0;margin: 0; }
.resources-modal .get-the-ebook-forms-div01 .heading-div h2{ padding: 0px 0;margin: 0;text-align: center; }

.resources-modal .get-the-ebook-forms-div01 .full-forms-div .col-100 { padding: 0px 0px; margin: 0; width: 100%; float: left; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group{  margin: 0 0 20px 0; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control { width: 100%; padding: 0 20px; height: 50px; font-size: 18px; border: 1px solid #DDDDDD; border-radius: 0px; font-weight: 300; }
.resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control:hover, .resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control:focus { box-shadow: none; }

.resources-modal .btn_download_row01 { padding: 20px 0 0 0; margin: 0 auto;text-align: center; }
.resources-modal .btn_download_row01 .btn_download { color: #fff !important; width: 100%; font-size: 18px; border-radius: 100px !important; height: 50px; line-height: 51px; }
.resources-modal .btn_download_row01 .btn_download:hover { border-radius:100px !important; }
.resources-modal .btn_download_row01 .btn_download:before{ border-radius:100px !important; }
.resources-modal .download-div { padding: 0; margin: 30px 0 0 0; width: 100%; display: block; }
.resources-modal .download-div .download-link { font-size: 24px; color: #666; line-height: 36px; font-weight: 500; }
.resources-modal .download-div .download-link:hover, .resources-modal .download-div .download-link:focus{ text-decoration: none; }

.modal.resources-modal button.close { background-image: none; background: none no-repeat; color: #fff; height: 50px; width: 50px; background-color: #000; opacity: 1; font-size: 24px; line-height: 36px; padding: 0 0 5px 0 !important; margin: 0 0 0 0 !important; text-indent: 0; position: absolute; right: -50px; top: 0; display: inline-block; }
.modal.resources-modal .modal-content { border-radius: 0px; }

.modal-backdrop.show { opacity: .8;z-index: 99999; }

/*********************************/
/**  End of resources-modal  *****/
/*********************************/



@media (max-width: 767px){

    
    /*********************************/
    /****  get-the-ebook  *****/
    /*********************************/

    .resource-section{ margin: 150px 0 0px 0; }
    .get-the-ebook-forms-div .full-forms-div .col-50{     padding: 0px 10px; }
    .get-the-ebook-forms-div .full-forms-div .col-100{     padding: 0px 10px; }
    .benifite-div .col-60 { padding: 0 0px 0 0;width: 100%; }
    .download-div .download-link { font-size: 20px; }
    .resource-section p.p-topbold{ font-size: 20px;    margin: 0 0 30px 0;  }
    .benifite-div .col-40{ width: 100%;margin: 0 0 80px 0; }
    .get-the-ebook-forms-div .full-forms-div .col-50{ width: 100%; }
    .resource-section .heading-div{ margin: 0 0 50px 0; }
    .get-the-ebook-forms-section .get-the-ebook-forms-div{ padding: 80px 0; }
    .get-the-ebook-forms-div .full-forms-div{ margin: 40px 0 0 0; }
    .get-the-ebook-forms-div .full-forms-div .form-group .form-control{ height: 50px;    padding: 0 15px;     font-size: 16px; }

    /*********************************/
    /****  End of get-the-ebook  *****/
    /*********************************/

    /*********************************/
    /*********  resources-modal  *****/
    /*********************************/

    .modal.resources-modal .modal-dialog{     max-width: 100% }

    .resources-body-left{ width: 100%;    padding: 30px 20px;    float: left; }
    .resources-modal .resource-div01 .col-65{ width: 100%; }
    .resources-modal .resource-div01 .col-35{ width: 100%;margin: 20px 0px 0 0; }
    .resources-body-right{ width: 100%; }
    .modal.resources-modal button.close{ right: 0;z-index: 99999;height: 30px; width: 30px; font-size: 18px; line-height: 24px; }
    .resources-modal .resource-section01{ padding: 0 0 0 0; }
    .modal.resources-modal .modal-body { padding: 0px 0px; }

    .resources-modal .resource-section01 .heading-div { margin: 0 0 20px 0; }
    .resources-modal .resource-section01 .heading-div h2{     font-size: 24px; line-height: 36px; }
    .resources-modal .resource-section01 p.p-topbold{     margin: 0 0 15px 0; font-size: 16px; }
    .resources-modal .resource-section01 .content-txt-div h3 { font-size: 18px; line-height: 24px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li span.txt-span { font-size: 14px; line-height: 20px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li .icon-span-round { height: 18px; width: 18px; border: 4px solid #ffffffe6; top: 3px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li { padding-left: 30px; margin: 0 0 10px 0; }

    .resources-modal .download-div .download-link { font-size: 16px;  line-height: 26px; }
    .resources-modal .download-div { margin: 00px 0 0 0; }

    .resources-modal .get-the-ebook-forms-section01 .get-the-ebook-forms-div01 { padding: 30px 20px 30px 20px; margin: 30px 0 0 0; min-height: 100%; }
    .resources-modal .get-the-ebook-forms-div01 .heading-div h2{ font-size: 24px; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div { margin: 25px 0 0 0; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control {     padding: 0 15px; height: 40px; font-size: 16px; line-height: 40px; margin: 0; }

    .resources-modal .btn_download_row01 .btn_download { font-size: 14px; height: 40px; line-height: 42px; }
    .resources-modal .btn_download_row01 { padding: 10px 0 0 0; }

    .modal.resources-modal .modal-dialog { max-width: 100%; margin: 0; }

    /*********************************/
    /**  End of resources-modal  *****/
    /*********************************/



}

@media screen and (min-width: 768px) and (max-width: 1024px){

    /*********************************/
    /****  get-the-ebook  *****/
    /*********************************/

    .resource-section{ margin: 150px 0 0px 0; }
    .get-the-ebook-forms-div .full-forms-div .col-50{     padding: 0px 10px; }
    .get-the-ebook-forms-div .full-forms-div .col-100{     padding: 0px 10px; }
    .benifite-div .col-60 { padding: 0 30px 0 0; }
    .download-div .download-link{     font-size: 24px;  }
    .resource-section p.p-topbold{     font-size: 24px;  }
    .get-the-ebook-forms-div .full-forms-div{     margin: 40px 0 0 0; }
    .get-the-ebook-forms-div .full-forms-div .form-group .form-control{ height: 50px;    padding: 0 15px;     font-size: 16px; }
    .get-the-ebook-forms-section .get-the-ebook-forms-div{     padding: 80px 0; }
    .get-the-ebook-forms-div .full-forms-div{     margin: 40px 0 0 0; }
    .resource-section .heading-div{     margin: 0 0 60px 0; }
    .download-div .download-link { font-size: 20px; }
    .resource-section p.p-topbold{ font-size: 20px;    margin: 0 0 30px 0;  }
    .benifite-div .content-txt-div .ul-list-div{     margin: 30px 0 0 0; }
    .resource-section .benifite-div .content-txt-div{     margin: 0 0 0px 0; }
    .resource-section { margin: 150px 0 80px 0; }


    /*********************************/
    /****  End of get-the-ebook  *****/
    /*********************************/


    /*********************************/
    /*********  resources-modal  *****/
    /*********************************/
    
    .modal.resources-modal button.close{right: -15px; top: -20px;z-index: 99999;height: 30px; width: 30px; font-size: 20px; line-height: 24px; }
    .modal.resources-modal .modal-dialog { max-width: 700px; }
    .modal.resources-modal .modal-body { padding: 0px; }

    .modal.resources-modal .resources-body-left{ width: 65%;    padding: 20px; }
    .modal.resources-modal .resources-body-right{ width: 35%; }
    .resources-modal .resource-section01 { padding: 0 0px 0 0; }

    .resources-modal .resource-section01 .heading-div { margin: 0 0 20px 0; }
    .resources-modal .resource-section01 .heading-div h2{     font-size: 24px; line-height: 36px; }
    .resources-modal .resource-section01 p.p-topbold{     margin: 0 0 15px 0; font-size: 16px; }
    .resources-modal .resource-section01 .content-txt-div h3 { font-size: 18px; line-height: 24px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li span.txt-span { font-size: 14px; line-height: 20px; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li .icon-span-round {     height: 16px; width: 16px; border: 4px solid #ffffffe6; top: 2px; left: 0; }
    .resource-div01 .content-txt-div .ul-list-div .benifite-ul li { padding-left: 30px; margin: 0 0 20px 0; line-height: 16px; }
     
    .resources-modal .download-div .download-link { font-size: 16px;  line-height: 26px; }
    .resources-modal .download-div { margin: 00px 0 0 0; }

    .resources-modal .get-the-ebook-forms-section01 .get-the-ebook-forms-div01 { padding: 20px 20px 20px 20px; margin: 0px 0 0 0;    min-height: 430px; }
    .resources-modal .get-the-ebook-forms-div01 .heading-div h2{ font-size: 24px; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div { margin: 25px 0 0 0; }
    .resources-modal .get-the-ebook-forms-div01 .full-forms-div .form-group .form-control {     padding: 0 15px; height: 40px; font-size: 16px; line-height: 40px; margin: 0; }

    .resources-modal .btn_download_row01 .btn_download { font-size: 14px; height: 40px; line-height: 42px; min-width: 100%; }
    .resources-modal .btn_download_row01 { padding: 10px 0 0 0; }

    /*********************************/
    /**  End of resources-modal  *****/
    /*********************************/

     
}

@media screen and (min-width: 1024px) and (max-width: 1366px){

    

}