.planbg { background: #fff !important; }

.pricing-plan-page { margin: 150px 0 0 0; padding-bottom: 0; }
.pricing-plan-page .justification_center{ justify-content: center; }
.pricing-plan-page p.center_p { color: #2D3136; font-size: 36px; line-height: 48px; font-weight: 500; padding: 40px 0 10px 0; }
.pricing-plan-page p.center_p2 { color: #2D3136; font-size: 20px; line-height: 28px; font-weight: 400; padding: 0px 0 25px 0; }
.pricing-plan-page .prcing-table .prcing-header { margin-bottom: 30px; height: auto; }
.span_block{ display: block; }

.pricing-plan-page .prcing-table { min-height: 415px; }
.pricing-plan-page .prcing-table .plan-features { margin-bottom: 2.5rem; height: auto; }
.pricing-plan-page .prcing-table .db-btn{ color: #fff; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); background-image: -webkit-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); background-image: -o-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); }
.pricing-plan-page .prcing-table .db-btn:hover .db-btn__icon{ color: #4a28dd !important; }
.pricing-plan-page .prcing-table .db-btn:hover{ color: #4a28dd !important;border-radius: 11px !important;box-shadow:0 3px 10px rgba(0, 0, 0, 0.1); }

.pricing-plan-page .plan_center_div{ padding: 40px 0;margin:0 auto;text-align: center; }
.pricing-plan-page .plan_center_div p.txt-center{ padding: 0px 0;text-align: center; }
.pricing-plan-page .pricing_highlight{ color: #4a28dd !important; }

.abstract-shape.abstract-shape-left01 { display: block; position: absolute; right: auto; left: -200px; top: 0; z-index: -1; transform: rotate(180deg); }
.abstract-shape.abstract-shape-left01 .svg{ height: 1200px; }
.abstract-shape.abstract-shape-right01 { display: block; position: absolute; right: -350px; left: auto; top: -20%; z-index: -1; }
.abstract-shape.abstract-shape-right01 .svg{ height: 1200px; }

.plan_membership_div { padding: 0; margin: 0 auto 50px auto; width: 830px; }
.plan_membership_div .left_desc_div { padding: 30px 0 0 0; margin: 0; width: 65%; float: left; }
.plan_membership_div .left_desc_div p { padding: 0; margin: 0 0 25px 0; font-size: 24px; font-weight: 400; color: #2D3136;line-height: 36px; }
.plan_membership_div .left_desc_div .plan_btn_row { padding: 10px 0 0 0; margin: 0; }
.plan_membership_div .left_desc_div .btn_sign_up_plan { color: #fff !important; min-width: 250px; font-size: 18px; border-radius:100px !important;  }
.plan_membership_div .left_desc_div .btn_sign_up_plan:hover { border-radius:100px !important; }
.plan_membership_div .left_desc_div .btn_sign_up_plan:before{ border-radius:100px !important; }

.plan_membership_div .right_desc_div { padding: 0; margin: 0; width: 35%; float: left; }
.plan_membership_div .right_desc_div .thumb_div { padding: 0; margin: 0 auto;  }
.plan_membership_div .right_desc_div .thumb_div .img_plan_member { padding: 0; margin: 0; width: 350px !important; }

@media (max-width: 767px){

    .abstract-shape.abstract-shape-left01 { display: none; }
    .abstract-shape.abstract-shape-right01 { display:  none; }
   
    .plan_membership_div { margin: 0 auto 50px auto; width: 100%; }
    .plan_membership_div .left_desc_div{ width: 100%;margin: 0 auto 50px auto; }
    .plan_membership_div .right_desc_div{ width: 100%; }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .abstract-shape.abstract-shape-left01 { display: none; }
    .abstract-shape.abstract-shape-right01 { display:  none; }
   
    .plan_membership_div { margin: 0 auto 50px auto; width: 100%; }
    .plan_membership_div .left_desc_div { padding: 00px 0 0 0; }
     
}